@model IEnumerable<SistemaResocentro.ViewModel.Mantenimiento.EquipoMantenimiento>

@{
    ViewBag.Title = "Lista de Mantenimientos de Equipos";
}
<h2>Lista de Mantenimientos de Equipos</h2>
<link href="~/js/datatables/datatable.css" rel="stylesheet" />
<script src="~/js/datatables/jquery.dataTables_ES.min.js"></script>
<script src="~/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        t0 = $(".table").DataTable({
            "sPaginationType": "bootstrap",
            "ordering": false
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href='@Url.Action("CrearEquipo")' class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp; Registrar Equipo</a>
        </p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Sucursal
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Equipo
                    </th>
                    <th>
                        Modalidad
                    </th>
                    <th>
                        Mantenimiento
                    </th>
                    <th>
                        Prox. Mant
                    </th>
                    <th>
                        Estado Mant
                    </th>
                    <th style="width:65px!important"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.empresa) - @Html.DisplayFor(modelItem => item.sucursal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreEquipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modalidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.frecuencia)
                        </td>
                        <td>
                            @if (item.fecha_proximo_mantenimiento.ToString("dd/MM/yyyy") != "01/01/0001")
                            {
                                @item.fecha_proximo_mantenimiento.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                @:-
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado_mantenimiento)
                        </td>
                        <td>
                            <a href="@Url.Action("RegistrarMantenimiento", "Mantenimiento", new { equipo = item.idEquipo })" title="Editar Equipo"><i class="fa fa-edit fa-lg "></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
