@model IEnumerable<SistemaResocentro.Models.Planificacion_Documento>
@{
    Layout = null;
    SistemaResocentro.Models.Planificacion plani = new SistemaResocentro.Models.Planificacion();
    plani.id = (int)ViewBag.idPlanificacion;
    if (Model != null)
    {
        if (Model.Count() < 0)
        {
            if (Model.SingleOrDefault() != null)
            {
                if (Model.SingleOrDefault().Planificacion != null)
                {
                    plani = Model.SingleOrDefault().Planificacion;
                }
            }
        }
    }
}

<div class="modal-header modal-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Gastos Registrados de Visita Médica
        @if (plani.CLINICAHOSPITAL != null)
        {
            <text> <b>(@plani.CLINICAHOSPITAL.razonsocial - @plani.MEDICOEXTERNO.apellidos @plani.MEDICOEXTERNO.nombres)</b> </text>
        }
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                <button type="button" class="btn" onclick="agregarGasto(@plani.id)"><i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar Gasto</button>
            </p>
        </div>
        <div class="col-md-12">
            <div class="col-md-12" id="div-agregarGasto">
                <div class="col-md-6">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <div class="panel-title">Agregar Gasto</div>
                        </div>
                        <div class="panel-body">
                            <input id="r_idplanificacion" type="hidden" value="">
                            <div class="form-group">
                                <label>Tipo Gasto:</label>
                                @Html.DropDownList("r_tipo", (SelectList)ViewBag.Gasto, "- Seleccione el Tipo de Gasto -", new { @class = "form-control", @onchange = "tipo_gasto()" })
                            </div>
                            <div id="div-Gasto" style="display: none;">
                                <div class="form-group">
                                    <label>Numero Documento: </label>
                                    <input class="form-control" id="r_ndocumento" placeholder="Ingrese el N° Documento" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Proveedor: </label>
                                    <input class="form-control" id="r_proveedor" placeholder="Ingrese el Proveedor" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Categoría: </label>
                                    @Html.DropDownList("r_categoria", (SelectList)ViewBag.Categoria, "- Seleccione el Tipo de Categoría -", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Persona Destino: </label>
                                    <input class="form-control" id="r_persona_destino" placeholder="Ingrese el Destino" type="text" value="">
                                </div>
                            </div>
                            <div id="div-Movilidad" style="display: none;">
                                <div class="form-group">
                                    <label>Origen: </label>
                                    <input class="form-control" id="r_origen" placeholder="Ingrese el Origen" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Destino: </label>
                                    <input class="form-control" id="r_destino" placeholder="Ingrese el Destino" type="text" value="">
                                </div>
                            </div>
                            <div id="div-total" class="form-group" style="display: none;">
                                <label>Total (S/.): </label>
                                <input class="form-control" id="r_totalGasto" placeholder="Ingrese el Total de Gasto" step="0.01" type="number" value="">
                            </div>
                            <p class="pull-right">
                                <button type="button" onclick="registrarGasto()" class="btn btn-success">Registrar Gasto</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div-editarGasto" class="col-md-12"></div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover lista-gastosregistrado">
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Documento
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Beneficiario
                        </th>
                        <th>
                            Origen
                        </th>
                        <th>
                            Destino
                        </th>
                        <th style="width:80px!important">
                            Total
                        </th>
                        <th>
                            Aprobado
                        </th>
                        <th>
                            Pagado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@item.fecha.ToShortDateString()*@ @item.fecha.ToShortTimeString()
                            </td>
                            <td>
                                @(new SistemaResocentro.Models.Variable().getTipoGastoPlanificacion()[item.tipo - 1].ToString().Split(',')[1].Split('=')[1].Split('}')[0])
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ndocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.proveedor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.categoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.persona_destino)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.origen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.destino)
                            </td>
                            <td>
                                S/. @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td style="text-align:center">
                                @if (!item.ispagado)
                                {
                                    @Html.CheckBoxFor(modelItem => item.isaprobado, new { @onchange = "cambiarAprobacion(" + item.id + "," + item.idplanificacion + ")" })
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.isaprobado)
                                }
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.ispagado)
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" onclick="editarGastoMain(@item.id)"><i class="fa fa-edit fa-2x"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pull-right">
              
                    <h4 style="text-align:right">Total Gasto: S/. <strong>@Model.Sum(x => x.total)</strong></h4>
                    <h3 style="color:#00a651;text-align:right">Total Aprobado: S/. <strong>@Model.Where(x => x.isaprobado == true).Sum(x => x.total)</strong></h3>
               
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>
<script type="text/javascript">
    $(function () {
        $("#div-agregarGasto").hide();
        $("#div-Gasto").hide();
        $("#div-Movilidad").hide();
        $("#div-total").hide();

        $('.lista-gastosregistrado').DataTable();
    });
    function cambiarAprobacion(id, planificacion) {
        $.ajax({
            type: 'POST',
            data: { id: id },
            url: '/Planificacion/CambiarAprobacionGasto',
            success: function (data) {
                $("#modal-body-gasto").load("/Planificacion/ListaPago?id=" + planificacion, function (response, status, xhr) {
                    if (status == "error") {
                        toastr.error('Error:\n' + xhr.status + " " + xhr.statusText, 'Error', opts);
                    }
                });
            },
            error: function () {
                toastr.error('No se pudo cambiar el estado del aprobación del gasto', 'Error', opts);
            }
        });
    }
    function agregarGasto(id) {
        $("#div-editarGasto").hide();
        $("#div-agregarGasto").toggle();
        $("#r_idplanificacion").val(id);
    }
    function editarGastoMain(id) {
        $("#div-agregarGasto").hide();
        $("#div-editarGasto").load("/Planificacion/EditarPlanificacion_Documento?id=" + id, function (response, status, xhr) {
            if (status == "error") {
                toastr.error('Error:\n' + xhr.status + " " + xhr.statusText, 'Error', opts);
            } else {
                $("#div-editarGasto").show();
                $("#idplanificacion").val(id);
            }
        });
    }
    function registrarGasto() {
        var jsonObject = {
            "idplanificacion": $("#r_idplanificacion").val(),
            "tipo": $("#r_tipo").val(),
            "ndocumento": $("#r_ndocumento").val(),
            "proveedor": $("#r_proveedor").val(),
            "categoria": $("#r_categoria").val(),
            "persona_destino": $("#r_persona_destino").val(),
            "origen": $("#r_origen").val(),
            "destino": $("#r_destino").val(),
            "total": $("#r_totalGasto").val()
        };
        $.ajax({
            url: '/Planificacion/GuardarPago',
            data: { item: JSON.stringify(jsonObject, null, "") },
            dataType: "json",
            type: "POST",
            success: function (data) {
                $("#modal-body-gasto").load("/Planificacion/ListaPago?id=" + jsonObject.idplanificacion, function (response, status, xhr) {
                    if (status == "error") {
                        toastr.error('Error:\n' + xhr.status + " " + xhr.statusText, 'Error', opts);
                    }
                });
            },
            error: function () {
                toastr.error("No se agregro el gasto.", "Error", opts);
                _result = false;
            }
        });
    }
    function tipo_gasto() {
        var tipo = $("#r_tipo").val();
        if (tipo == 1 || tipo == 4) {
            $("#div-Gasto").show();
            $("#div-Movilidad").hide();
            $("#div-total").show();
        } else {
            $("#div-Gasto").hide();
            $("#div-Movilidad").show();
            $("#div-total").show();
        }

    }
</script>
