@model Encuesta.ViewModels.Encuesta.Tipos.EncuestaAngioAortaViewModel

@{
    ViewBag.Title = "<i class='fa fa-edit'></i> Encuesta";
    ViewBag.Titlenot = "Encuesta Angio TEM Aorta y Carótidas";
}

<script src="~/js/encuestas/validacion/TEM/angioaorta_val.js"></script>
<script src="~/js/encuestas/encuestas_ini.js"></script>
<link href="~/css/Encuesta.css" rel="stylesheet" />
<script src="../js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.animate').autosize();
    });
</script>
<div class="row" id="div_PreEntrevista">
    <div class="col-md-12">
        <div class="">
            <div class="">
                <h1 class="titulo_ocultar">ENCUESTA ANGIO TEM AORTA Y CARÓTIDAS

                </h1>
            </div>
            <div class="">@*Datos Examen*@
                <div class="row">

                    <div class="col-md-12">

                        <div class="panel panel-dark" data-collapsed="0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datos Examen</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosExamen", Model._examen)
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosPaciente", Model._paciente)
                                        </div>

                                        <div class="col-xs-2 col-sm-2 col-lg-2">
                                            <div class="btn-group-vertical">
                                                <button class="btn btn-primary box-tools pull-right no-print" onclick="cambiarEncuesta()">
                                                    <i class="fa fa-undo fa-2x"></i>
                                                </button>
                                                <button class="btn btn-info box-tools pull-right no-print" onclick="verHistorial('@Model._examen.codigo')" >
                                                    <i class="fa fa-history fa-2x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" id="div_historial">
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm_encuesta" }))
                {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-info" })

                    @Html.HiddenFor(y => y.numeroexamen);
                    @Html.HiddenFor(y => y.equipoAsignado);
@*Molestias*@
                    <div class="row">

                        <div class="col-md-12">
                            <div >
                                <div >

                                    @*Molestias*@
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <h2 class="panel-title">Principales Molestias </h2>
                                                </div>
                                                <div class="panel-body ">

                                                    @*Pregunta 1*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>1. Tiene diagnóstico?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "true", new { @mostrar_respuesta = "rpta_p1" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "false", new { @ocultar_respuesta = "rpta_p1" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p1">
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-5 col-lg-5">
                                                                                        @Html.DropDownListFor(model => model.p1_1, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                    </div>
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p1_2, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p1_3, new { @placeholder = "Ingrese el diagnóstico", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 2*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>2. Presenta alguna molestia?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "true", new { @mostrar_respuesta = "rpta_p2" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "false", new { @ocultar_respuesta = "rpta_p2" }) No
                                                                        </label>


                                                                        <div class="col-md-12" id="rpta_p2">
                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p2_1, new { @placeholder = "Ingrese la molestia ", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@*Procedimientos Relacionados*@
                    <div class="row">

                        <div class="col-md-12">
                            <div>
                                <div >


                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <h2 class="panel-title">Procedimientos Relacionados </h2>
                                                </div>
                                                <div class="panel-body ">
                                                    @*Pregunta 3*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>3. EcoDoppler?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "true", new { @mostrar_respuesta = "rpta_p3" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "false", new { @ocultar_respuesta = "rpta_p3" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p3">
                                                                            <div class="col-md-12">
                                                                                @Html.TextAreaFor(model => model.p3_1, new { @placeholder = "Ingrese el resultado", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 4*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>4. Angiotem?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p4, "true", new { @mostrar_respuesta = "rpta_p4" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p4, "false", new { @ocultar_respuesta = "rpta_p4" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p4">
                                                                            <div class="col-md-12">
                                                                                @Html.TextAreaFor(model => model.p4_1, new { @placeholder = "Ingrese el resultado", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 5*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>5. Cirugías previas?</cite>

                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">
                                                                                @Html.TextAreaFor(model => model.p5_3, new { @placeholder = "Ingrese el motivo", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
@*Preguntas a Resolver*@
                    <div class="row">

                        <div class="col-md-12">

                            <div >
                                <div >
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <h2 class="panel-title">Preguntas a Resolver </h2>
                                                </div>
                                                <div class="panel-body ">
                                                    @*Pregunta 6-A*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>6-A. Ingresar lo que dice la orden médica?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p7, new { @placeholder = "Ingrese lo que dice la orden médica", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p7_1, new { @bloquear_respuesta = "p7" }) Orden Ilegible
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 6-B*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>6-B. Ingresar lo que comenta el paciente?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p8, new { @placeholder = "Ingrese lo que comenta el paciente", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p8_1, new { @bloquear_respuesta = "p8" }) No precisa
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 7*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>7. Luego de realizar esta historia clínica concluyo que este examen de resonancia busca resolver el o los siguientes problemas diagnosticados?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p9, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*Pregunta 6
                                                    <div class="form-group">
                                                         <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>6. Estenosis arterial?</cite>
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p7, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Pregunta 7
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>7. Aneurisma?</cite>
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p8, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   Pregunta 8
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>9. Disección?</cite>
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p9, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Pregunta 9
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>9. Otros</cite>
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">

                                                                                @Html.TextAreaFor(model => model.p10, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    *@
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

@*Indicaciones*@
                    <div class="row">

                        <div class="col-md-12">

                            <div>
                                <div >
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <h2 class="panel-title">Indicaciones </h2>
                                                </div>
                                                <div class="panel-body ">
                                                    @*Pregunta 8*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>8. Procedimiento :</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_1) Protocolo estándar angiotem aorta torácica
                                                                                </label>
                                                                            </div>

                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_2) Protocolo estándar angiotem aorta torácica y abdominal
                                                                                </label>
                                                                            </div>

                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_3) Protocolo estándar angiotem aorta abdominal e iliacas
                                                                                </label>
                                                                            </div>

                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_4) Protocolo estándar angiotem aorterias carótidas
                                                                                </label>
                                                                            </div>

                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_5) Protocolo estándar angiotem miembros inferiores
                                                                                </label>
                                                                            </div>

                                                                            @*<div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p11_6) Protocolo estándar angiotem miembros superiores
                                                                                </label>
                                                                            </div>*@


                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                }


                <a type="button" style="margin-left: 15px;" class="btn btn-default btn-lg no-print" href="@Url.Action("ListaEspera", "RealizarEncuesta", new { sede = Model._examen.codigoestudio.Substring(0, 3) })"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Retroceder</a>
                <div class="pull-right">
                    <button type="button" style="margin-left: 15px;" class="btn btn-primary btn-lg no-print"  onclick="reasignar('@Model._examen.codigo');">Finalizar&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>



@*CAMBIO DE ENCUESTA*@
<script type="text/javascript">
    function cambiarEncuesta() {
        var modalidad = '@Model.modalidad';
        if (modalidad == 'RM') {
            $("#modalidad_RM").show();
            $("#modalidad_TEM").hide();
        } else {
            $("#modalidad_RM").hide();
            $("#modalidad_TEM").show();
        }
        $('#myModal').modal('toggle');
    }

    function realizarEncuesta(tipo) {
        var exa = '@Model._examen.codigo';
                            window.location.href = ('@Url.Action("setEncuesta", "RealizarEncuesta")' + '?examen=' + exa + '&encuesta=' + tipo);
                        }
</script>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cambiar Encuesta</h4>
            </div>
            <div class="modal-body">
                <div id="div_select_examen">

                    @Html.Partial("_SeleccionExamen")
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*ASIGNACION DE EXAMEN*@
<script type="text/javascript">

    function asignarModalidad(examen) {
        var _equipo = $("#cboequipo_asignar").val();
        if (_equipo != "") {
            $("#equipoAsignado").val(_equipo);
            $("#frm_encuesta").submit();
        }
        else
            alert("Seleccione un Equipo");
    }

    function reasignar(examen) {
        if (validarEncuesta()) {
            $("#lbln_exam").val(examen)
            $.ajax({
                url: "@Url.Action("getEquipo", "VisorCarga")",
                data: { examen: examen },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("Error al cargar Equipo");
                },
                success: function (data) {
                    var items = "";
                    items += "<option value='' >- Seleccione -</option>";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $("#cboequipo_asignar").html(items);
                }
            });
            $('#AsignarModal').modal('toggle');
        }
    }
</script>
<div class="modal" id="AsignarModal" tabindex="-1" role="dialog" aria-labelledby="AsignarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="AsignarModalLabel">Reasignar Examen a Equipo</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="lbln_exam" />
                @Html.Partial("_AsignarEquipo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="asignarModalidad($('#lbln_exam').val());">Enviar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
