@model Encuesta.ViewModels.Encuesta.Tipos.EncuestaFibroScanViewModel
@{
    ViewBag.Title = "<i class='fa fa-edit'></i> Encuesta";
    ViewBag.Titlenot = "Encuesta FibroScan";
}

<script src="~/js/encuestas/validacion/FIB/fib_val.js"></script>
<script src="~/js/encuestas/encuestas_ini.js"></script>
<link href="~/css/Encuesta.css" rel="stylesheet" />
<script src="../js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.animate').autosize();
    });
</script>
<div class="row" id="div_PreEntrevista">
    <div class="col-md-12">
        <div class="">
            <div class="">
                @{ string tipo_encuesta = "FibroScan";  }
                <h1 class=" titulo_ocultar">
                    ENCUESTA @tipo_encuesta.ToUpper()

                </h1>
            </div>
            <div class=" chart-responsive">
                @*Datos Examen*@
            <div class="row">

                <div class="col-md-12">

                    <div class="panel panel-dark" data-collapsed="0">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos Examen</h3>
                            <div class="panel-options pull-right">
                                <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-xs-5 col-sm-5 col-lg-5">
                                        @Html.Partial("_DatosExamen", Model._examen)
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-lg-5">
                                        @Html.Partial("_DatosPaciente", Model._paciente)
                                    </div>

                                    <div class="col-xs-2 col-sm-2 col-lg-2">
                                        <div class="btn-group-vertical">
                                            <button class="btn btn-primary box-tools pull-right no-print" onclick="cambiarEncuesta()">
                                                <i class="fa fa-undo fa-2x"></i>
                                            </button>
                                            <button class="btn btn-info box-tools pull-right no-print" onclick="verHistorial('@Model._examen.codigo')">
                                                <i class="fa fa-history fa-2x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row" id="div_historial">
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm_encuesta" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "alert alert-info" })

                @Html.HiddenFor(y => y.numeroexamen);
                @Html.HiddenFor(y => y.equipoAsignado);
    @*Molestias*@
                <div class="row">

                    <div class="col-md-12">
                        <div class="">

                            <div class="">

                                @*Molestias*@
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-dark" data-collapsed="0">
                                            <div class="panel-heading">
                                                <div class="panel-title">Principales Molestias </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">

                                                @*Pregunta 1*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>1. Hepatitis Crónica?</cite><span class="asterisco">(*)</span>
                                                                    <br />
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "3") Tipo A
                                                                    </label>  
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "1") Tipo B
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "2") Tipo C
                                                                    </label> 
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "0") Ninguna
                                                                    </label>                                                                     
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 2*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>2. Sindrome Metabíolico?</cite><span class="asterisco">(*)</span>
                                                                    <div id="div_rpta_2">
                                                                        <label class="checkbox-inline">
                                                                            @Html.CheckBoxFor(model => model.p2_1) Diabetes Mellitus Tipo 2
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.CheckBoxFor(model => model.p2_2) Obesidad
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.CheckBoxFor(model => model.p2_3) Dislipidemia
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.CheckBoxFor(model => model.p2_4) HTA
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 3*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>3. Higado Graso?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p3, "true") Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p3, "false") No
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 4*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>4. Cirugía Gastrointestinal para Obesidad?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p4, "true") Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p4, "false") No
                                                                    </label>                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 5*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>5. Otras Hepatopias Crónicas?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p5, "true" ) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p5, "false" ) No
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 6*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>6. Ingesta de Alcohol?</cite><span class="asterisco">(*)</span>
                                                                    <select  id="p6" name="p6" class="form-control">
                                                                        <option value="">- Seleccione -</option>
                                                                        <option value="1">Si</option>
                                                                        <option value="2">No</option>
                                                                        <option value="3">Ocasiones</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @*Pregunta 7*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>7. Medicamentos?</cite><span class="asterisco">(*)</span>
                                                                    <br />
                                                                    <label class="checkbox-inline">
                                                                        @Html.CheckBoxFor(model => model.p7_1) Estrógenos
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.CheckBoxFor(model => model.p7_2) Corticoides
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.CheckBoxFor(model => model.p7_3) Methotrexate
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.CheckBoxFor(model => model.p7_4, new { @mostrar_respuesta = "divOtros", @ocultar_respuesta = "divOtros" }) Otros
                                                                    </label>
                                                                    <div id="divOtros">
                                                                        @Html.TextBoxFor(model => model.p7_4_1, new { @placeholder = "Especifique cual", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*Historial Molestias*@

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-dark" data-collapsed="0">
                                            <div class="panel-heading">
                                                <div class="panel-title">Exámenes Auxiliares </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">                                                
                                                @*Pregunta 8*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>8. Exámenes auxiliares</cite><span class="asterisco">(*)</span>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <label class="checkbox-inline">
                                                                                @Html.CheckBoxFor(model => model.p8_1) TGO
                                                                            </label>
                                                                            <label class="checkbox-inline">
                                                                                @Html.CheckBoxFor(model => model.p8_2) TGP
                                                                            </label>
                                                                            <label class="checkbox-inline">
                                                                                @Html.CheckBoxFor(model => model.p8_3) Coresterol
                                                                            </label>
                                                                            <label class="checkbox-inline">
                                                                                @Html.CheckBoxFor(model => model.p8_4) Trigliceridos
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Procedimientos Relacionados*@
                <div class="row">

                    <div class="col-md-12">
                        <div class="">

                            <div class="">


                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-dark" data-collapsed="0">
                                            <div class="panel-heading">
                                                <div class="panel-title">Motivos del Examen </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">
                                                @*Pregunta 9*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>9. Motivos por el cual se realiza el examen?</cite><span class="asterisco">(*)</span>
                                                                    @Html.TextAreaFor(model => model.p9, new {@rows="5", @placeholder = "Motivo por el cual se realiza el examen", @class = "form-control" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <a type="button" style="margin-left: 0px;" class="btn btn-default btn-lg no-print" href="@Url.Action("ListaEspera", "RealizarEncuesta", new {sede=Model._examen.codigoestudio.Substring(0,3) })"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Retroceder</a>
            <div class="pull-right">
                <button type="button" style="margin-left: 15px;" class="btn btn-blue btn-lg no-print" onclick="reasignar('@Model._examen.codigo');">Finalizar&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
            </div>
        </div>
    </div>
</div>
</div>


@*CAMBIO DE ENCUESTA*@
<script type="text/javascript">
    function cambiarEncuesta() {
        var modalidad = '@Model.modalidad';
        if (modalidad == 'RM') {
            $("#modalidad_RM").show();
            $("#modalidad_TEM").hide();
        } else {
            $("#modalidad_RM").hide();
            $("#modalidad_TEM").show();
        }
        $('#myModal').modal('toggle');
    }

    function realizarEncuesta(tipo) {
        var exa = '@Model._examen.codigo';
        window.location.href = ('@Url.Action("setEncuesta", "RealizarEncuesta")' + '?examen=' + exa + '&encuesta=' + tipo);
    }
</script>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cambiar Encuesta</h4>
            </div>
            <div class="modal-body">
                <div id="div_select_examen">

                    @Html.Partial("_SeleccionExamen")
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*ASIGNACION DE EXAMEN*@
<script type="text/javascript">

    function asignarModalidad(examen) {
        var _equipo = $("#cboequipo_asignar").val();
        if (_equipo != "") {
            $("#equipoAsignado").val(_equipo);
            $("#frm_encuesta").submit();
        }
        else
            alert("Seleccione un Equipo");
    }

    function reasignar(examen) {
        if (validarEncuesta()) {
            $("#lbln_exam").val(examen)
            $.ajax({
                url: "@Url.Action("getEquipo", "VisorCarga")",
                data: { examen: examen },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("Error al cargar Equipo");
                },
                success: function (data) {
                    var items = "";
                    items += "<option value='' >- Seleccione -</option>";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $("#cboequipo_asignar").html(items);
                }
            });
            $('#AsignarModal').modal('toggle');
        }
    }
</script>
<div class="modal" id="AsignarModal" tabindex="-1" role="dialog" aria-labelledby="AsignarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="AsignarModalLabel">Reasignar Examen a Equipo</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="lbln_exam" />
                @Html.Partial("_AsignarEquipo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="asignarModalidad($('#lbln_exam').val());">Enviar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

