@model Encuesta.ViewModels.Encuesta.Tipos.EncuestaExtremidadesViewModel

@{
    ViewBag.Title = "<i class='fa fa-edit'></i> Encuesta";
    ViewBag.Titlenot = "Encuesta Extremidad";
}

<script src="~/js/encuestas/validacion/RM/extremidad_val.js"></script>
<script src="~/js/encuestas/encuestas_ini.js"></script>
<link href="~/css/Encuesta.css" rel="stylesheet" />
<script src="../js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.animate').autosize();
    });
</script>
<div class="row" id="div_PreEntrevista">
    <div class="col-md-12">
        <div class="">
            <div class="">
                @{string tipo_encuesta = "";
                  if (Model.tipo_encu == 44)
                  { tipo_encuesta = "el brazo derecho"; }
                  else if (Model.tipo_encu == 48)
                  { tipo_encuesta = "el brazo izquierdo"; }
                  else if (Model.tipo_encu == 45)
                  { tipo_encuesta = "el antebrazo derecho"; }
                  else if (Model.tipo_encu == 49)
                  { tipo_encuesta = "el antebrazo izquierdo"; }
                  else if (Model.tipo_encu == 46)
                  { tipo_encuesta = "el muslo derecho"; }
                  else if (Model.tipo_encu == 50)
                  { tipo_encuesta = "el muslo izquierdo"; }
                  else if (Model.tipo_encu == 47)
                  { tipo_encuesta = "la pierna derecha"; }
                  else if (Model.tipo_encu == 51)
                  { tipo_encuesta = "la pierna izquierda"; }
                  else
                  { tipo_encuesta = "   "; } }
                <h1 class=" titulo_ocultar">ENCUESTA @tipo_encuesta.ToUpper().Substring(3)

                </h1>
            </div>
            <div class=" chart-responsive">@*Datos Examen*@
                <div class="row">

                    <div class="col-md-12">

                        <div class="panel panel-dark" data-collapsed="0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datos Examen</h3>
                                <div class="panel-options pull-right">
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosExamen", Model._examen)
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosPaciente", Model._paciente)
                                        </div>

                                        <div class="col-xs-2 col-sm-2 col-lg-2">
                                            <div class="btn-group-vertical">
                                                <button class="btn btn-primary box-tools pull-right no-print" onclick="cambiarEncuesta()">
                                                    <i class="fa fa-undo fa-2x"></i>
                                                </button>
                                                <button class="btn btn-info box-tools pull-right no-print" onclick="verHistorial('@Model._examen.codigo')" >
                                                    <i class="fa fa-history fa-2x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" id="div_historial">                    
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm_encuesta" }))
                {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class="alert alert-info"})

                    @Html.HiddenFor(y => y.numeroexamen);
                    @Html.HiddenFor(y => y.equipoAsignado);
@*Molestias*@
                    <div class="row">

                        <div class="col-md-12">
                            <div class="">
                               
                                <div class="">

                                    @*Molestias*@
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Principales Molestias </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">

                                                    @*Pregunta 1*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>1. Dolor en @tipo_encuesta?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "true", new { @mostrar_respuesta = "rpta_p1" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "false", new { @ocultar_respuesta = "rpta_p1" }) No
                                                                        </label>


                                                                        <div class="col-md-12" id="rpta_p1">
                                                                            <cite>Donde?</cite>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p1_0) Anterior / Volar
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p1_2) Posterior / Dorsal
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p1_3) Lateral / Radial
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p1_4) Medial / Cubital
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p1_5, new { @mostrar_respuesta = "p1_1" }) Otros
                                                                                </label>
                                                                            </div>
                                                                            @Html.TextAreaFor(model => model.p1_1, new { @placeholder = "Ingrese el dolor", @class = "form-control animate validate" })

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 2*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>2. Sensación de bulto o tumoración ?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "true", new { @mostrar_respuesta = "rpta_p2" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "false", new { @ocultar_respuesta = "rpta_p2" }) No
                                            
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p2">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p2_1) Anterior / Volar
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p2_2) Posterior / Dorsal
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p2_3) Lateral / Radial
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p2_4) Medial / Cubital
                                                                                </label>
                                                                            </div>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(model => model.p2_5, new { @mostrar_respuesta = "p2_5_1" }) Otros
                                                                                </label>
                                                                            </div>
                                                                            @Html.TextAreaFor(model => model.p2_5_1, new { @placeholder = "Ingrese el dolor", @class = "form-control animate validate" })

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 3*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>3. Otros?</cite>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "true", new { @mostrar_respuesta = "rpta_p3" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "false", new { @ocultar_respuesta = "rpta_p3" }) No
                                            
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p3">
                                                                            @Html.TextAreaFor(model => model.p3_1, new { @placeholder = "Ingrese otros dolores", @class = "form-control animate" })
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    @*Historial Molestias*@

                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Historia de Molestias </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#p4_1").change(function () { $("input:radio[name='p4_3']").removeAttr('checked'); $("#p4_3_1").hide(); });
                                                            $("#p4_2").change(function () { $("input:radio[name='.p4_3']").removeAttr('checked'); $("#p4_3_1").hide(); });
                                                            $("input:radio[name='p4_3']").click(function () { if ($("input:radio[name='p4_3']").is(':checked')) { $('#p4_1').val(''); $("#p4_2").val(''); } });


                                                        });
                                                    </script>
                                                    @*Pregunta 4*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>4. Desde hace cuánto lo ha notado por primera vez?</cite><span class="asterisco">(*)</span>
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-sm-2 col-lg-2">
                                                                                    @Html.TextBoxFor(model => model.p4_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                </div>
                                                                                <div class="col-sm-4 col-lg-4">
                                                                                    @Html.DropDownListFor(model => model.p4_2, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p4_3, "true", new { @ocultar_respuesta = "p4_3_1" }) No Precisa
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p4_3, "false", new { @mostrar_respuesta = "p4_3_1" }) Otro
                                                                                </label>
                                                                            </div>
                                                                            @Html.TextAreaFor(model => model.p4_3_1, new { @placeholder = "Especifique su respuesta", @class = "form-control animate" })
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 5*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>5. Comó comenzaron sus molestias?</cite><span class="asterisco">(*)</span>
                                                                        <div class="col-md-12">

                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p5, "true", new { @mostrar_respuesta = "p5_1" }) Subitamente(de un momento a otro)
                                                                                </label>
                                                                                @Html.TextAreaFor(model => model.p5_1, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                            </div>

                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p5, "false", new { @ocultar_respuesta = "p5_1" })Gradualmente(poco a poco)
                                                                                </label>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 6*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <cite>6. Antecedentes de traumatismo asociado en @tipo_encuesta ?</cite>
                                                                    <div class="col-md-12">
                                                                        @Html.TextAreaFor(model => model.p7, new { @placeholder = "Especifique", @class = "form-control animate validate" })

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 7*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>7. Tiene antecedentes médicos de importancia?</cite>
                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p9, new { @placeholder = "Especifique", @class = "form-control animate" })
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@*Procedimientos Relacionados*@
                    <div class="row">

                        <div class="col-md-12">
                            <div class="">                               
                                <div class="">


                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Procedimientos Relacionados </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 8*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>8. Le han operado en  @tipo_encuesta antes?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p10, "true", new { @mostrar_respuesta = "rpta_p8" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p10, "false", new { @ocultar_respuesta = "rpta_p8" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p8">
                                                                            <div class="col-md-12">
                                                                                <cite>Cuántas veces?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 col-lg-2">
                                                                                            @Html.TextBoxFor(model => model.p10_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>La última aprox. hace cuanto?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 col-lg-2">
                                                                                            @Html.TextBoxFor(model => model.p10_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                        </div>
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p10_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>Cuál fue el resultado final?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p10_3, "1") Mejoró
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p10_3, "2") Quedó igual
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p10_3, "3") Empeoró
                                                                                        </label>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>Porqué?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            @Html.TextAreaFor(model => model.p10_4, new { @placeholder = "Especifique", @class = "form-control animate validate" })

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 9*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>9. Tiene estudios previos de Resonancia?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p11, "true", new { @mostrar_respuesta = "rpta_p9" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p11, "false", new { @ocultar_respuesta = "rpta_p9" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p9">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-12">
                                                                                    <cite>El último donde?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-4 col-lg-4">
                                                                                                @Html.DropDownListFor(model => model.p11_1, (SelectList)ViewBag.locales, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "rpta_p9_1", @mostrar_respuesta_value = "9" })
                                                                                            </div>
                                                                                            <div class="col-sm-12 col-md-12" id="rpta_p9_1">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12">
                                                                                                        <cite>Compromiso del paciente:</cite><span class="asterisco">(*)</span>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p11_11, "1") El paciente y/o acompañante <b>SE COMPROMETIO</b> a traer estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p11_11, "2") El paciente y/o acompañante <b>TRATARÁ</b> de traer estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p11_11, "3") <b>NO SE PUEDE</b> conseguir estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <cite>El último cuando?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-2 col-lg-2">
                                                                                                @Html.TextBoxFor(model => model.p11_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                            </div>
                                                                                            <div class="col-sm-4 col-lg-4">
                                                                                                @Html.DropDownListFor(model => model.p11_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <cite>Porqué?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                @Html.TextAreaFor(model => model.p11_3, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 10*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>10. Practica algun deporte?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p12, "true", new { @mostrar_respuesta = "rpta_p12" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p12, "false", new { @ocultar_respuesta = "rpta_p12" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p12">

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <cite>Deporte</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p12_1, (SelectList)ViewBag.deporte, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "p12_2", @mostrar_respuesta_value = "6" })
                                                                                        </div>

                                                                                        <div class="col-sm-6 col-lg-6">
                                                                                            @Html.TextAreaFor(model => model.p12_2, new { @placeholder = "Especifique", @class = "form-control animate validate" })

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <cite>Con qué regularidad?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p12_3, (SelectList)ViewBag.regularidad, "- Seleccione -", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@*Preguntas a Resolver*@
                    <div class="row">

                        <div class="col-md-12">

                            <div class="">                               
                                <div class="">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Preguntas a Resolver </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 11-A*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>11-A. Ingresar lo que dice la orden médica?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p13A_1, new { @placeholder = "Ingrese lo que dice la orden médica", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p13A_2, new { @bloquear_respuesta = "p13A_1" }) Orden Ilegible
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>
                                                    @*Pregunta 11-B*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>11-B. Ingresar lo que comenta el paciente?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p13B_1, new { @placeholder = "Ingrese lo que comenta el paciente", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p13B_2, new { @bloquear_respuesta = "p13B_1" }) No precisa
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>
                                                    @*Pregunta 12*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>12. Luego de realizar esta historia clínica concluyo que este examen de resonancia busca resolver el o los siguientes problemas diagnosticados?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p14_1, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

@*Indicaciones*@
                    <div class="row">

                        <div class="col-md-12">

                            <div class="">
                               
                                <div class="">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Indicaciones </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 13*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>13. Administrar contraste :</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p15, "1", new { @ocultar_respuesta = "p15_1" }) Si
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p15, "2", new { @mostrar_respuesta = "p15_1" })No
                                                                                </label>


                                                                                @Html.DropDownListFor(model => model.p15_1, (SelectList)ViewBag.contraste, "- Seleccione -", new { @class = "form-control" })


                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p15, "3", new { @ocultar_respuesta = "p15_1" }) De acuerdo a hallazgos
                                                                                </label>
                                                                            </div>


                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>14. Colocación de Reparo Anatómico :</cite><span class="asterisco">(*)</span><div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p16, true) Si
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p16, false)No
                                                                                </label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                }


                <a type="button" style="margin-left: 0px;" class="btn btn-default btn-lg no-print" href="@Url.Action("ListaEspera", "RealizarEncuesta", new {sede=Model._examen.codigoestudio.Substring(0,3) })"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Retroceder</a>
                <div class="pull-right">
                    <button type="button" style="margin-left: 15px;" class="btn btn-blue btn-lg no-print" onclick="reasignar('@Model._examen.codigo');">Finalizar&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


@*CAMBIO DE ENCUESTA*@
<script type="text/javascript">
    function cambiarEncuesta() {
        var modalidad = '@Model.modalidad';
        if (modalidad == 'RM') {
            $("#modalidad_RM").show();
            $("#modalidad_TEM").hide();
        } else {
            $("#modalidad_RM").hide();
            $("#modalidad_TEM").show();
        }
        $('#myModal').modal('toggle');
    }

    function realizarEncuesta(tipo) {
        var exa = '@Model._examen.codigo';
        window.location.href = ('@Url.Action("setEncuesta", "RealizarEncuesta")' + '?examen=' + exa + '&encuesta=' + tipo);
    }
</script>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cambiar Encuesta</h4>
            </div>
            <div class="modal-body">
                <div id="div_select_examen">

                    @Html.Partial("_SeleccionExamen")
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*ASIGNACION DE EXAMEN*@
<script type="text/javascript">

    function asignarModalidad(examen) {
        var _equipo = $("#cboequipo_asignar").val();
        if (_equipo != "") {
            $("#equipoAsignado").val(_equipo);
            $("#frm_encuesta").submit();
        }
        else
            alert("Seleccione un Equipo");
    }

    function reasignar(examen) {
        if (validarEncuesta()) {
            $("#lbln_exam").val(examen)
            $.ajax({
                url: "@Url.Action("getEquipo", "VisorCarga")",
                data: { examen: examen },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("Error al cargar Equipo");
                },
                success: function (data) {
                    var items = "";
                    items += "<option value='' >- Seleccione -</option>";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $("#cboequipo_asignar").html(items);
                }
            });
            $('#AsignarModal').modal('toggle');
        }
    }
</script>
<div class="modal" id="AsignarModal" tabindex="-1" role="dialog" aria-labelledby="AsignarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="AsignarModalLabel">Reasignar Examen a Equipo</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="lbln_exam" />
                @Html.Partial("_AsignarEquipo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="asignarModalidad($('#lbln_exam').val());">Enviar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

