@model Encuesta.ViewModels.Encuesta.Tipos.EncuestaRodillaViewModel

@{
    ViewBag.Title = "<i class='fa fa-edit'></i> Encuesta";
    ViewBag.Titlenot = "Encuesta Rodilla";
}
<script src="~/js/encuestas/validacion/RM/rodilla_val.js"></script>
<script src="~/js/encuestas/encuestas_ini.js"></script>
<link href="~/css/Encuesta.css" rel="stylesheet" />
<script src="../js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.animate').autosize();
    });
</script>
<div class="row" id="div_PreEntrevista">
    <div class="col-md-12">
        <div class="">
            <div class="">
                @{string tipo_encuesta = "";
                  if (Model.tipo_encu == 5)
                  { tipo_encuesta = "rodilla derecha"; }
                  else if (Model.tipo_encu == 4)
                  { tipo_encuesta = "rodilla izquierda"; }
                  else
                  { tipo_encuesta = ""; } }
                <h1 class=" titulo_ocultar">ENCUESTA @tipo_encuesta.ToUpper()

                </h1>
            </div>
            <div class="chart-responsive">@*Datos Examen*@
               <div class="row">

                    <div class="col-md-12">

                        <div class="panel panel-dark" data-collapsed="0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datos Examen</h3>
                                <div class="panel-options pull-right">
                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosExamen", Model._examen)
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-lg-5">
                                            @Html.Partial("_DatosPaciente", Model._paciente)
                                        </div>

                                        <div class="col-xs-2 col-sm-2 col-lg-2">
                                            <div class="btn-group-vertical">
                                                <button class="btn btn-primary box-tools pull-right no-print" onclick="cambiarEncuesta()">
                                                    <i class="fa fa-undo fa-2x"></i>
                                                </button>
                                                <button class="btn btn-info box-tools pull-right no-print" onclick="verHistorial('@Model._examen.codigo')" >
                                                    <i class="fa fa-history fa-2x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" id="div_historial">                    
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm_encuesta" }))
                {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-info" })

                    @Html.HiddenFor(y => y.numeroexamen);
                    @Html.HiddenFor(y => y.equipoAsignado);
@*Molestias*@
                    <div class="row">

                        <div class="col-md-12">
                            <div class="">                                
                                <div class="">

                                    @*Molestias*@
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Principales Molestias </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">

                                                    @*Pregunta 1*@
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            //1 CHeck "En cuanto a la ubicacion del dolor" Opcion "No precisa"
                                                            $("#p1_9").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    $("#p1_4").attr("checked", false);
                                                                    $("#p1_5").attr("checked", false);
                                                                    $("#p1_6").attr("checked", false);
                                                                    $("#p1_7").attr("checked", false);
                                                                    $("#p1_8").attr("checked", false);
                                                                    $("#p1_81").hide();
                                                                }
                                                            });
                                                            $("#p1_4").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa();
                                                                }
                                                            });
                                                            $("#p1_5").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa();
                                                                }
                                                            });
                                                            $("#p1_6").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa();
                                                                }
                                                            });
                                                            $("#p1_7").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa();
                                                                }
                                                            });
                                                            $("#p1_8").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa();
                                                                }
                                                            });

                                                            //2 CHeck "En cuanto a la ubicacion del dolor" Opcion "No precisa"
                                                            $("#p2_9").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    $("#p2_4").attr("checked", false);
                                                                    $("#p2_5").attr("checked", false);
                                                                    $("#p2_6").attr("checked", false);
                                                                    $("#p2_7").attr("checked", false);
                                                                    $("#p2_8").attr("checked", false);
                                                                    $("#p2_81").hide();
                                                                }
                                                            });
                                                            $("#p2_4").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa_p2();
                                                                }
                                                            });
                                                            $("#p2_5").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa_p2();
                                                                }
                                                            });
                                                            $("#p2_6").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa_p2();
                                                                }
                                                            });
                                                            $("#p2_7").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa_p2();
                                                                }
                                                            });
                                                            $("#p2_8").change(function () {
                                                                if ($(this).is(":checked")) {
                                                                    disableCheck_precisa_p2();
                                                                }
                                                            });

                                                        });
                                                        function disableCheck_precisa() {
                                                            $("#p1_9").attr("checked", false);
                                                        }
                                                        function disableCheck_precisa_p2() {
                                                            $("#p2_9").attr("checked", false);
                                                        }
                                                    </script>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>1. Presenta dolor en la @tipo_encuesta?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "true", new { @mostrar_respuesta = "rpta_p1" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p1, "false", new { @ocultar_respuesta = "rpta_p1" }) No
                                                                        </label>


                                                                        <div class="col-md-12" id="rpta_p1">
                                                                            <div class="col-md-12" id="rpta_p1_1">
                                                                                <cite>- Cuándo?</cite>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_1) Dolor de mayor intensidad durante o despues de actividad física
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_2) Dolor incluso al reposo
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_3) Dolor al subir y bajar las escaleras
                                                                                    </label>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12" id="rpta_p1_2">
                                                                                <cite>- En cuanto a la ubicación del dolor defina:</cite>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_4) Anterior
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_5) Posterior
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_6) Medial
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_7) Lateral
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_8, new { @mostrar_respuesta = "p1_81" }) Otros
                                                                                    </label>
                                                                                </div>
                                                                                @Html.TextAreaFor(model => model.p1_81, new { @placeholder = "Ingrese el dolor", @class = "form-control animate validate" })
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p1_9) No precisa
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 2*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>2. Sensación de "<em>bulto</em>" o cuerpo extraño en la @tipo_encuesta?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "true", new { @mostrar_respuesta = "rpta_p2" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p2, "false", new { @ocultar_respuesta = "rpta_p2" }) No
                                                                        </label>


                                                                        <div class="col-md-12" id="rpta_p2">
                                                                            <div class="col-md-12">
                                                                                <cite>- En cuanto a la ubicación de la sensación de "bulto" defina:</cite>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_4) Anterior
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_5) Posterior
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_6) Medial
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_7) Lateral
                                                                                    </label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_8, new { @mostrar_respuesta = "p2_81" }) Otros
                                                                                    </label>
                                                                                </div>
                                                                                @Html.TextAreaFor(model => model.p2_81, new { @placeholder = "Ingrese el dolor", @class = "form-control animate validate" })
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(model => model.p2_9) No precisa
                                                                                    </label>
                                                                                </div>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 3*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>3. Sensación de inestabilidad de la rodilla cuando corre o camina?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "true") Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p3, "false") No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 4*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>4. Sensación de que la rodilla se traba?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p4, "true") Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p4, "false") No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 5*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>5. Sensacion de crujido dentro de la rodilla?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p5, "true") Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p5, "false") No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 6*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>6. Otros</cite>
                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p6, new { @placeholder = "Especifique donde", @class = "form-control animate validate" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    @*Historial Molestias*@

                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Historia de Molestias </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#p7_1").change(function () { $("input:radio[name='p7_2']").removeAttr('checked'); $("#p7_22").hide(); });
                                                            $("#p7_11").change(function () { $("input:radio[name='p7_2']").removeAttr('checked'); $("#p7_22").hide(); });
                                                            $("input:radio[name='p7_2']").click(function () { if ($("input:radio[name='p7_2']").is(':checked')) { $('#p7_1').val(''); $("#p7_11").val(''); } });


                                                        });
                                                    </script>
                                                    @*Pregunta 7*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>7. Desde hace cuánto lo ha notado por primera vez?</cite><span class="asterisco">(*)</span>
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-sm-2 col-lg-2">
                                                                                    @Html.TextBoxFor(model => model.p7_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                </div>
                                                                                <div class="col-sm-4 col-lg-4">
                                                                                    @Html.DropDownListFor(model => model.p7_11, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p7_2, "true", new { @ocultar_respuesta = "p7_22" }) No Precisa
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p7_2, "false", new { @mostrar_respuesta = "p7_22" }) Otro
                                                                                </label>
                                                                            </div>
                                                                            @Html.TextAreaFor(model => model.p7_22, new { @placeholder = "Especifique su respuesta", @class = "form-control animate" })
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 8*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>8. Su inicio se asocio a:</cite><span class="asterisco">(*)</span>
                                                                        <div class="col-md-12">

                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p8, "1", new { @mostrar_respuesta = "p8_1" }) Esfuerzo
                                                                                </label>
                                                                            </div>

                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p8, "2", new { @mostrar_respuesta = "p8_1" }) Traumatismo
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p8, "3", new { @ocultar_respuesta = "p8_1" }) A nada en especial
                                                                                </label>
                                                                            </div>

                                                                            <div class="radio">
                                                                                <label class="checkbox-inline">
                                                                                    @Html.RadioButtonFor(model => model.p8, "4", new { @mostrar_respuesta = "p8_1" }) Otros
                                                                                </label>
                                                                            </div>
                                                                            @Html.TextAreaFor(model => model.p8_1, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@*Procedimientos Relacionados*@
                    <div class="row">

                        <div class="col-md-12">
                            <div class="">                               
                                <div class="">


                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Procedimientos Relacionados </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 9*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>9. Le han operado de la @tipo_encuesta antes?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p9, "true", new { @mostrar_respuesta = "rpta_p9" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p9, "false", new { @ocultar_respuesta = "rpta_p9" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p9">
                                                                            <div class="col-md-12">
                                                                                <cite>Cuántas veces?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 col-lg-2">
                                                                                            @Html.TextBoxFor(model => model.p9_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>La última aprox. hace cuanto?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-2 col-lg-2">
                                                                                            @Html.TextBoxFor(model => model.p9_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                        </div>
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p9_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>Cuál fue el resultado final?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p9_3, "1") Mejoró
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p9_3, "2") Quedó igual
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            @Html.RadioButtonFor(model => model.p9_3, "3") Empeoró
                                                                                        </label>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>Porqué?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            @Html.TextAreaFor(model => model.p9_4, new { @placeholder = "Especifique", @class = "form-control animate validate" })

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 10*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>10. Tiene estudios previos de Resonancia?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p10, "true", new { @mostrar_respuesta = "rpta_p10" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p10, "false", new { @ocultar_respuesta = "rpta_p10" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p10">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-12">
                                                                                    <cite>El último donde?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-4 col-lg-4">
                                                                                                @Html.DropDownListFor(model => model.p10_1, (SelectList)ViewBag.locales, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "rpta_p9_1", @mostrar_respuesta_value = "9" })
                                                                                            </div>
                                                                                            <div class="col-sm-12 col-md-12" id="rpta_p9_1">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12">
                                                                                                        <cite>Compromiso del paciente:</cite><span class="asterisco">(*)</span>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p10_11, "1") El paciente y/o acompañante <b>SE COMPROMETIO</b> a traer estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p10_11, "2") El paciente y/o acompañante <b>TRATARÁ</b> de traer estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="radio">
                                                                                                            <label>
                                                                                                                @Html.RadioButtonFor(model => model.p10_11, "3") <b>NO SE PUEDE</b> conseguir estudios previos
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <cite>El último cuando?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-2 col-lg-2">
                                                                                                @Html.TextBoxFor(model => model.p10_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                            </div>
                                                                                            <div class="col-sm-4 col-lg-4">
                                                                                                @Html.DropDownListFor(model => model.p10_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <cite>Porqué?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                @Html.TextAreaFor(model => model.p10_3, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Pregunta 11*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>11. Practica algun deporte?</cite><span class="asterisco">(*)</span>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p11, "true", new { @mostrar_respuesta = "rpta_p11" }) Si
                                                                        </label>
                                                                        <label class="checkbox-inline">
                                                                            @Html.RadioButtonFor(model => model.p11, "false", new { @ocultar_respuesta = "rpta_p11" }) No
                                                                        </label>
                                                                        <div class="col-md-12" id="rpta_p11">

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <cite>Deporte</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p11_1, (SelectList)ViewBag.deporte, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "p11_11", @mostrar_respuesta_value = "6" })
                                                                                        </div>

                                                                                        <div class="col-sm-6 col-lg-6">
                                                                                            @Html.TextAreaFor(model => model.p11_11, new { @placeholder = "Especifique", @class = "form-control animate validate" })

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <cite>Con qué regularidad?</cite><span class="asterisco">(*)</span>
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p11_2, (SelectList)ViewBag.regularidad, "- Seleccione -", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@*Preguntas a Resolver*@
                    <div class="row">

                        <div class="col-md-12">

                            <div class="">                               
                                <div class="">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Preguntas a Resolver </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 12-A*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>12-A. Ingresar lo que dice la orden médica?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p12A, new { @placeholder = "Ingrese lo que dice la orden médica", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p12Acheck, new { @bloquear_respuesta = "p12A" }) Orden Ilegible
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>
                                                    @*Pregunta 12-B*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>12-B. Ingresar lo que comenta el paciente?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p12B, new { @placeholder = "Ingrese lo que comenta el paciente", @class = "form-control animate validate" })
                                                                            @Html.CheckBoxFor(model => model.p12Bcheck, new { @bloquear_respuesta = "p12B" }) No precisa
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>
                                                    @*Pregunta 13*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>13. Luego de realizar esta historia clínica concluyo que este examen de resonancia busca resolver el o los siguientes problemas diagnosticados?</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            @Html.TextAreaFor(model => model.p13, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>






                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

@*Indicaciones*@
                    <div class="row">

                        <div class="col-md-12">

                            <div class="">                                
                                <div class="">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="panel panel-dark" data-collapsed="0">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Indicaciones </div>
                                                    <div class="panel-options pull-right">
                                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                    </div>
                                                </div>
                                                <div class="panel-body chart-responsive">
                                                    @*Pregunta 14*@
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>14. Administrar contraste :</cite><span class="asterisco">(*)</span>

                                                                        <div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p14, "1", new { @ocultar_respuesta = "p14_1" }) Si
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p14, "2", new { @mostrar_respuesta = "p14_1" })No
                                                                                </label>


                                                                                @Html.DropDownListFor(model => model.p14_1, (SelectList)ViewBag.contraste, "- Seleccione -", new { @class = "form-control" })


                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p14, "3", new { @ocultar_respuesta = "p14_1" }) De acuerdo a hallazgos
                                                                                </label>
                                                                            </div>


                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div>
                                                                        <cite>15. Colocación de Reparo Anatómico :</cite><span class="asterisco">(*)</span><div class="col-md-12">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p15, true) Si
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p15, false)No
                                                                                </label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                }


                <a type="button" style="margin-left: 0px;" class="btn btn-default btn-lg no-print" href="@Url.Action("ListaEspera", "RealizarEncuesta", new {sede=Model._examen.codigoestudio.Substring(0,3) })"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Retroceder</a>
                <div class="pull-right">
                    <button type="button" style="margin-left: 15px;" class="btn btn-blue btn-lg no-print" onclick="reasignar('@Model._examen.codigo');">Finalizar&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


@*CAMBIO DE ENCUESTA*@
<script type="text/javascript">
    function cambiarEncuesta() {
        var modalidad = '@Model.modalidad';
        if (modalidad == 'RM') {
            $("#modalidad_RM").show();
            $("#modalidad_TEM").hide();
        } else {
            $("#modalidad_RM").hide();
            $("#modalidad_TEM").show();
        }
        $('#myModal').modal('toggle');
    }

    function realizarEncuesta(tipo) {
        var exa = '@Model._examen.codigo';
        window.location.href = ('@Url.Action("setEncuesta", "RealizarEncuesta")' + '?examen=' + exa + '&encuesta=' + tipo);
    }
</script>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cambiar Encuesta</h4>
            </div>
            <div class="modal-body">
                <div id="div_select_examen">

                    @Html.Partial("_SeleccionExamen")
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*ASIGNACION DE EXAMEN*@
<script type="text/javascript">

    function asignarModalidad(examen) {
        var _equipo = $("#cboequipo_asignar").val();
        if (_equipo != "") {
            $("#equipoAsignado").val(_equipo);
            $("#frm_encuesta").submit();
        }
        else
            alert("Seleccione un Equipo");
    }

    function reasignar(examen) {
        if (validarEncuesta()) {
            $("#lbln_exam").val(examen)
            $.ajax({
                url: "@Url.Action("getEquipo", "VisorCarga")",
                data: { examen: examen },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("Error al cargar Equipo");
                },
                success: function (data) {
                    var items = "";
                    items += "<option value='' >- Seleccione -</option>";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $("#cboequipo_asignar").html(items);
                }
            });
            $('#AsignarModal').modal('toggle');
        }
    }
</script>
<div class="modal" id="AsignarModal" tabindex="-1" role="dialog" aria-labelledby="AsignarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="AsignarModalLabel">Reasignar Examen a Equipo</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="lbln_exam" />
                @Html.Partial("_AsignarEquipo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="asignarModalidad($('#lbln_exam').val());">Enviar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

