@model IEnumerable<Encuesta.Models.spu_getIfIsAmpliInDemand_byCodigo_Ultimo_Result>
@{
    Layout = null;
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <h4>Datos de Ampliación </h4>
            <hr />
            <div class="form-group">
                <label>Fecha de Solicitud</label>
                @Html.DisplayFor(x => item.FechaSolicitud)
            </div>
            <div class="form-group">
                <label>Solicitante</label>
                @Html.DisplayFor(x => item.UsuarioRegistra)
            </div>
            @if (item.EquipoEleccion == item.EquipoAlternativo)
            {
                <div class="form-group">
                    <label>Equipo exclusivo</label>
                    @Html.DisplayFor(x => item.EquipoEleccion)
                </div>
            }
            else
            {
                <div class="form-group">
                    <label>Equipo Elección</label>
                    @Html.DisplayFor(x => item.EquipoEleccion)
                </div>
                <div class="form-group">
                    <label>Equipo Alternativo</label>
                    @Html.DisplayFor(x => item.EquipoAlternativo)
                </div>
            }
            <div class="form-group">
                <label>Tipo Ampliacion</label>
                @Html.DisplayFor(x => item.TipoAmpliacion)
            </div>
            <div class="form-group">
                <label>Motivo</label>
                @Html.DisplayFor(x => item.AmpliMotivo)
            </div>
            <div class="form-group">
                <label>Técnica</label>
                @Html.DisplayFor(x => item.AmpliMotivoTecnica)
            </div>
            <div class="form-group">
                <label>Tiempo Estimado</label>
                @Html.DisplayFor(x => item.TiempoEstimado)
            </div>
        </div>
    }

</div>