@model SistemaResocentro.Models.CompaniaSeguro_Promotor

@{
    Layout = null;
    ViewBag.Title = "Create";
}


<script src="~/js/validar-input.js"></script>
<script type="text/javascript">
    $(function () {
        $("._cbo2").chosen({ width: "100%" });
    });
    
    function validar() {
        var idinstitucion = $("#codigocompania").val();
        var cmp = $("#codigopromotor").val();
        if (idinstitucion == "" || cmp == "") {
            removeHasAll("codigocompania");
            removeHasAll("codigopromotor");
            if (idinstitucion == "")
                addError("codigocompania");
            if (cmp == "")
                addError("codigopromotor");
            return false;
        }
        if (!validarAsignacion(idinstitucion,cmp))
            return false;
        return true;
    }
    function validarAsignacion(idinstitucion, cmp) {
        var _result = true;
        $.ajax({
            async: false,
            cache: false,
            url: '/Asignaciones/validarAsignacionCompaniaPromotor',
            data: { idInstitucion: idinstitucion, promotor: cmp },
            dataType: "json",
            type: "POST",
            success: function (data) {
                if (!data) {
                    removeHasAll("codigopromotor");
                    addError("codigopromotor");
                    toastr.error("El Colaborador ya está asignado a esta Compañía de Seguro.", "Error", opts);
                    _result = false;
                }
            },
            error: function () {
                toastr.error("No se pudo validar la asignación.", "Error", opts);
                _result = false;
            }
        });
        return _result;
    }
</script>
<div class="modal-header modal-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Asignar Médico a Institución Médica</h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div id="">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Institución Médica</label>
                        <div class="">
                            @Html.DropDownListFor(model => model.codigocompania, (SelectList)ViewBag.Instituciones, "- Seleccione la Compañía de Seguro -", htmlAttributes: new { @class = "form-control _cbo2" })
                            @Html.ValidationMessageFor(model => model.codigocompania, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Médico</label>
                        <div class="">
                            @Html.DropDownListFor(model => model.codigopromotor, (SelectList)ViewBag.Promotor, "- Seleccione el Promotor -", htmlAttributes: new { @class = "form-control _cbo2" })
                            @Html.ValidationMessageFor(model => model.codigopromotor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button id="btnregistrar" type="submit" class="btn btn-success" onclick="return validar();"><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp; Registrar </button>
    </div>
}