@model IEnumerable<SistemaResocentro.Models.Ubicacion>

@{
    Layout = null;
}
<script>
    // If you're adding a number of markers, you may want to
    // drop them on the map consecutively rather than all at once.
    // This example shows how to use setTimeout() to space
    // your markers' animation.
    var lima_tab3 = new google.maps.LatLng(-12.0553442, -77.0451853);
    var markers_tab3 = [];
    var info_tab3 = [];

    var map_tab3;

    function initialize_tab3() {
        var mapOptions = {
            zoom: 12,
            center: lima_tab3
        };

        map_tab3 = new google.maps.Map(document.getElementById('map-canvas_tab3'),
                mapOptions);
        

    }
    function mostarUbicacion(latitud, longitud) {
        setAllMap_tab3(null);
        markers_tab3 = [];
        var latlng_tb3 = new google.maps.LatLng(parseFloat(latitud), parseFloat(longitud));
        var marker_tab3 = new google.maps.Marker({
            position: latlng_tb3,
            icon: '../../images/markers/marker_visitador.png',
            animation: google.maps.Animation.DROP,
            map: map_tab3
        });
        marker_tab3.setAnimation(google.maps.Animation.BOUNCE);
        markers_tab3.push(marker_tab3);
        setAllMap_tab3(map_tab3);
    }
    @*function cargarVisitas_tab3() {
        setAllMap_tab3(null);
        markers_tab3 = [];

        @foreach (var item in Model){

            if (item.latitud != null && item.longitud != null){
                <text>
        var latlng_tab3 = new google.maps.LatLng(parseFloat('@item.latitud'), parseFloat('@item.longitud'));
        var marker_tab3 = new google.maps.Marker({
            position: latlng_tab3,
            icon: '../../images/marker_visitador.png',
            animation: google.maps.Animation.DROP,
            map: map_tab3
        });
        marker_tab3.setAnimation(google.maps.Animation.BOUNCE);
        markers_tab3.push(marker_tab3);
        var contentString_tab3 = '<h5 id="firstHeading" class="firstHeading">Ubicación Registrado</h5>' +
                             'Representante: <b>' + '@item.USUARIO.ShortName' + '</b> <br/>' +
                             'Hora: <b>' + '@item.fecha.Value.ToString("dd/MMM/yyy hh:mm")' + '</b> <br/>';
        var infowindow_tab3 = new google.maps.InfoWindow({
            content: contentString_tab3
        });
        info_tab3.push(infowindow_tab3);
        </text>

        }
        }


        setAllMap_tab3(map_tab3);
    }*@

    function setAllMap_tab3(map_tab3) {
        for (var i = 0; i < markers_tab3.length; i++) {
            markers_tab3[i].setMap(map_tab3);

            google.maps.event.addListener(markers_tab3[i], 'click', (function (i) {
                return function () {
                    info_tab3[i].open(map_tab3, markers_tab3[i]);
                }
            })(i));
        }
    }
</script>
<script type="text/javascript">
    var tabla_tab3;
    $(function () {
         $('.table_ubicacion').DataTable();
        initialize_tab3();
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover table_ubicacion">
                <thead>
                    <tr>
                        <th>
                            Representante
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.USUARIO.ShortName)
                            </td>
                            <td>
                                @item.fecha.Value.ToString("dd/MM/yyyy hh:mm tt")
                            </td>
                            <td>
                                <button class=" btn btn-info btn-xs" type="button" onclick="mostarUbicacion('@item.latitud','@item.longitud')"><i class="fa fa-crosshairs fa-2x"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <style>
                #map-canvas_tab3 {
                    width: 100%;
                    height: 330px;
                }
            </style>
            <div id="map-canvas_tab3"></div>
        </div>
    </div>
</div>