@model Encuesta.ViewModels.Encuesta.Tipos.EncuestaHombroViewModel

@{
    ViewBag.Titlenot = "Encuesta Hombro";
    Encuesta.Util.Variable util = new Encuesta.Util.Variable();   
}
<script src="~/js/encuestas/encuestas_ini.js"></script>
<script src="~/js/encuestas/LectorEncuesta.js"></script>
<link href="~/css/Encuesta.css" rel="stylesheet" />
<script src="../js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<div class="row body-medico" id="div_PreEntrevista">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                @{string tipo_hombro = Model.tipo_encu == 2 ? "izquierdo" : "derecho";}
                <h1 class="box-title titulo_ocultar">
                    ENCUESTA HOMBRO @tipo_hombro.ToUpper()

                </h1>
            </div>
            <div class="box-body chart-responsive">
                @*Datos Examen*@
            <div class="row">

                <div class="col-lg-12">

                    <div id="Info-examen" class="panel panel-medico">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos Examen</h3>
                            <div class="panel-options pull-right">
                                <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="col-sm-5 col-lg-5">
                                        @Html.Partial("_DatosExamenLector", Model._examen)
                                    </div>
                                    <div class="col-sm-5 col-lg-5">
                                        @Html.Partial("_DatosEncuestaLector", Model._encuesta)
                                    </div>
                                    <div class="col-sm-2 col-lg-2">
                                        <span>Adicional :</span>
                                        <div class="btn-group-vertical" role="group" style="margin-bottom: 10px;">

                                            @if (Model._examen.ATENCION.CITA.sedacion)
                                            {
                                                <button class="btn btn-danger box-tools  pull-right no-print">SEDACION</button>
                                            }
                                            @if (Model._examen.ATENCION.CITA.claustrofobico)
                                            {
                                                <button class="btn btn-info box-tools  pull-right no-print">CLAUSTROFOBICO</button>
                                            }

                                        </div>
                                        <div class="btn-group-vertical" role="group" id="div_adicional">
                                            <button class="btn btn-medico box-tools btn-sm pull-right no-print" id="btn-detalle" onclick="Mostrardetalle(false)">
                                                <i class="fa fa-plus fa-1x"></i>&nbsp;Detalle Encuesta
                                            </button>
                                            <button class="btn btn-medico box-tools btn-sm pull-right no-print" onclick="verHistorial('@Model._examen.codigo')">
                                                <i class="fa fa-history fa-1x"></i>&nbsp;Estudios Previos
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row" id="div_historial">
            </div>
            <div id="div-resumen">
                <div class="pregunta">
                    @*Pregunta 1*@
                    @if (Model.p1.Value)
                    {<div class="col-lg-12">
                        - <span class="resaltar">Tiene dolor</span> en el hombro @tipo_hombro :
                        <span class="resaltar">
                            @if (Model.p1_5)
                            {
                                <text>rotación interna</text>
                            }
                            @if (Model.p1_6)
                            {
                                if (Model.p1_5)
                                {
                                    <text>,</text>
                                }
                                <text>rotación externa</text>
                            }
                            @if (Model.p1_2)
                            {
                                if (Model.p1_5 || Model.p1_6)
                                {
                                    <text>,</text>
                                }
                                <text>abducción</text>
                            }
                            @if (Model.p1_3)
                            {
                                if (Model.p1_5 || Model.p1_6 || Model.p1_2)
                                {
                                    <text>,</text>
                                }
                                <text>extensión</text>
                            }
                            @if (Model.p1_4)
                            {
                                if (Model.p1_5 || Model.p1_6 || Model.p1_2 || Model.p1_3)
                                {
                                    <text>,</text>
                                }
                                <text>flexión</text>
                            }
                            @if (Model.p1_7)
                            {
                                if (Model.p1_5 || Model.p1_6 || Model.p1_2 || Model.p1_3 || Model.p1_4)
                                {
                                    <text>,</text>
                                }
                                <span>@Model.p1_7_1</span>
                            }
                        </span>
                        .
                    </div>
                    }
                    @*Pregunta 2*@
                    @if (Model.p2.Value)
                    {
                        <div class="col-lg-12">
                            - <span class="resaltar">Se luxo</span> el hombro @tipo_hombro
                            <span class="resaltar">
                                @if (Model.p2_1.Value)
                                {
                                    <text>una vez hace</text>
                                }
                                else
                                {
                                    <text>más de una vez, la última</text>
                                }
                                @Model.p2_21 @util.getNombreTiempoRM(Model.p2_22.Value)
                            </span>.
                        </div>
                    }
                    @*Pregunta 3*@
                    @if (Model.p3 != null)
                    {
                        if (Model.p3 != "")
                        {
                            <div class="col-lg-12">
                                @if (Model.p1.Value || Model.p2.Value)
                                {
                                    <text>- Además,</text>
                                }
                                <span class="resaltar">@Model.p3</span>.
                            </div>
                        }
                    }
                    @*PREGUNTA 4*@
                    <div class="col-lg-12">
                        @if (Model.p4_3 != null)
                        {
                            if (Model.p4_3.Value)
                            {
                                <text>- <span class="resaltar">No precisa cuando fue la primera vez</span>.</text>
                            }
                            else
                            {

                                <text>- Lo noto </text><span class="resaltar">@Model.p4_3_1.</span>
                            }
                        }
                        else
                        {
                            <text>- Lo noto hace <span class="resaltar">@Model.p4_1 @util.getNombreTiempoRM(Model.p4_2)</span>.</text>
                        }
                    </div>
                    @*PREGUNTA 5*@
                    <div class="col-lg-12">
                        -
                        @if (Model.p5.Value)
                        {

                            <span class="resaltar">Comenzó súbitamente</span><span>(de un momento a otro), @Model.p5_1.</span>

                        }
                        else
                        {
                            <span class="resaltar">Comenzó gradualmente</span><span>(poco a poco).</span>
                        }
                    </div>
                    @*PREGUNTA 6*@
                    @if (Model.p6.Value)
                    {
                        <div class="col-lg-12">
                            - Tiene antecedentes traumatológicos:
                            <span class="resaltar">@Model.p6_1.</span>
                        </div>
                    }
                    @*PREGUNTA 7*@
                    @if (Model.p7 != null)
                    {
                        if (Model.p7 != "")
                        {
                            <div class="col-lg-12">
                                - Tiene antecedentes médicos de importancia:
                                <span class="resaltar">@Model.p7.</span>
                            </div>
                        }
                    }
                    @*PREGUNTA 8*@
                    @if (Model.p8.Value)
                    {
                        <div class="col-lg-12">
                            - <span class="resaltar">Fue operado @Model.p8_1</span> veces de <span class="resaltar">@Model.p8_4</span>, la última hace<span class="resaltar">
                                @Model.p8_21 @util.getNombreTiempoRM(Model.p8_22)
                                @if (Model.p8_3 == "1")
                                {
                                    <text>mejorando su estado</text>
                                }
                                else if (Model.p8_3 == "2")
                                {
                                    <text>quedando igual</text>
                                }
                                else
                                {
                                    <text>empeorando su estado</text>
                                }
                            </span>
                            .
                        </div>
                    }
                    @*PREGUNTA 9*@
                    @if (Model.p9.Value)
                    {
                        <div class="col-lg-12">
                            - <span class="resaltar">Fue infiltrado @Model.p9_1</span> veces, la última hace <span class="resaltar">
                                @Model.p9_21 @util.getNombreTiempoRM(Model.p9_22)
                                @if (Model.p9_3 == "1")
                                {
                                    <text>mejorando su estado</text>
                                }
                                else if (Model.p9_3 == "2")
                                {
                                    <text>quedando igual</text>
                                }
                                else
                                {
                                    <text>empeorando su estado</text>
                                }
                            </span>
                            .
                        </div>
                    }
                    @*PREGUNTA 10*@
                    @if (Model.p10.Value)
                    {
                        <div class="col-lg-12">
                            - <span class="resaltar">Tiene estudios</span> previos en
                            @util.getNombreLocales(Model.p10_1)
                            hace
                            <span class="resaltar">
                                @Model.p10_21
                            @util.getNombreTiempoRM(Model.p10_22)
                        </span>
                        por el siguiente motivo:
                        <span class="resaltar">@Model.p10_3</span>
                        .
                    </div>
                    }
                    @*PREGUNTA 11*@
                    @if (Model.p11.Value)
                    {
                        <div class="col-lg-12">
                            - Practica <span class="resaltar">
                                @if (Model.p11_1 == 6)
                                {
                                    @Model.p11_11
                                }
                                else
                                {
                                    @util.getNombreDeportes(Model.p11_1)
                                }
                                @util.getNombreReguralidadDeporte(Model.p11_2)
                            </span>
                            .
                        </div>
                    }
                    @*PREGUNTA 12*@
                    @if (Model.p12Acheck == false)
                    {
                        <div class="col-lg-12">- Orden médica menciona <span class="resaltar">@Model.p12A</span> .</div>
                    }
                    @if (Model.p12Bcheck == false)
                    {
                        <div class="col-lg-12">- El paciente comenta <span class="resaltar">@Model.p12B</span> .</div>
                    }
                    @*PREGUNTA 13*@
                    @if (Model.p13 != "")
                    {
                        <div class="col-lg-12">- Se desea resolver el o los siguientes problemas diagnosticados <span class="resaltar">@Model.p13</span> .</div>
                    }
                    @*PREGUNTA 14*@
                    @if (Model.p14 == 1)
                    {
                        <div class="col-lg-12">-  <span class="resaltar">Se indicó </span>que se use contraste.</div>
                    }
                    @if (Model.p14 == 2)
                    {
                        <div class="col-lg-12">- Se indicó  que <span class="resaltar">no </span>se use contraste.</div>
                    }
                    @if (Model.p14 == 3)
                    {
                        <div class="col-lg-12">- Se indicó usar contraste  <span class="resaltar">de acuerdo a hallazgos</span>.</div>
                    }
                    @*Pregunta15*@         @if (Model.p15)
                    {
                        <div class="col-lg-12">- <span class="resaltar">Se indicó </span> colocación de Reparo Anatómico.</div>
                    }
                    else
                    {
                        <div class="col-lg-12">- <span class="resaltar">No se indicó </span> colocación de Reparo Anatómico.</div>
                    }
                </div>
            </div>
            <br />
            <div id="div-detallado">
                <h3></h3>
                @*Molestias*@
                <div class="row">

                    <div class="col-md-12">
                        <div class=" ">

                            <div class="">

                                @*Molestias*@
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-medico" data-collapsed="1">
                                            <div class="panel-heading">
                                                <div class="panel-title">Principales Molestias </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">

                                                @*Pregunta 1*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>1. Dolor en el hombro?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "true", new { @mostrar_respuesta = "rpta_p1" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p1, "false", new { @ocultar_respuesta = "rpta_p1" }) No
                                                                    </label>


                                                                    <div class="col-md-12" id="rpta_p1">
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_5) Rotación Interna
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_6) Rotación Externa
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_2) Abducción
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_3) Extensión
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_4) Flexión
                                                                            </label>
                                                                        </div>

                                                                        <div class="checkbox">
                                                                            <label>
                                                                                @Html.CheckBoxFor(model => model.p1_7, new { @mostrar_respuesta = "p1_7_1" }) Otros
                                                                            </label>
                                                                        </div>
                                                                        @Html.TextAreaFor(model => model.p1_7_1, new { @placeholder = "Ingrese el dolor", @class = "form-control animate validate" })

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 2*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>2. Antecedente de luxación del hombro?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p2, "true", new { @mostrar_respuesta = "rpta_p2" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p2, "false", new { @ocultar_respuesta = "rpta_p2" }) No

                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p2">
                                                                        <div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p2_1, "true") Una sola vez
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(model => model.p2_1, "false") Más de una vez
                                                                                </label>
                                                                            </div>
                                                                        </div>

                                                                        <div id="rpta_p2_1">
                                                                            <cite>Cuándo fue la última vez?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p2_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                    <div class="col-sm-4 col-lg-4">
                                                                                        @Html.DropDownListFor(model => model.p2_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 3*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>3. Otros?</cite>
                                                                    @Html.TextAreaFor(model => model.p3, new { @placeholder = "Ingrese otros dolores", @class = "form-control animate" })
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*Historial Molestias*@

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-medico" data-collapsed="1">
                                            <div class="panel-heading">
                                                <div class="panel-title">Historia de Molestias </div>

                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#p4_1").change(function () { $("input:radio[name='p4_3']").removeAttr('checked'); $("#p4_3_1").hide(); });
                                                        $("#p4_2").change(function () { $("input:radio[name='.p4_3']").removeAttr('checked'); $("#p4_3_1").hide(); });
                                                        $("input:radio[name='p4_3']").click(function () { if ($("input:radio[name='p4_3']").is(':checked')) { $('#p4_1').val(''); $("#p4_2").val(''); } });


                                                    });
                                                </script>
                                                @*Pregunta 4*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>4. Desde hace cuánto lo ha notado por primera vez?</cite><span class="asterisco">(*)</span>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-sm-2 col-lg-2">
                                                                                @Html.TextBoxFor(model => model.p4_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                            </div>
                                                                            <div class="col-sm-4 col-lg-4">
                                                                                @Html.DropDownListFor(model => model.p4_2, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p4_3, "true", new { @ocultar_respuesta = "p4_3_1" }) No Precisa
                                                                            </label>
                                                                        </div>
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p4_3, "false", new { @mostrar_respuesta = "p4_3_1" }) Otro
                                                                            </label>
                                                                        </div>
                                                                        @Html.TextAreaFor(model => model.p4_3_1, new { @placeholder = "Especifique su respuesta", @class = "form-control animate" })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 5*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>5. Comó comenzaron sus molestias?</cite><span class="asterisco">(*)</span>
                                                                    <div class="col-md-12">

                                                                        <div class="radio">
                                                                            <label class="checkbox-inline">
                                                                                @Html.RadioButtonFor(model => model.p5, "true", new { @mostrar_respuesta = "p5_1" }) Súbitamente(de un momento a otro)
                                                                            </label>
                                                                            @Html.TextAreaFor(model => model.p5_1, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                        </div>

                                                                        <div class="radio">
                                                                            <label class="checkbox-inline">
                                                                                @Html.RadioButtonFor(model => model.p5, "false", new { @ocultar_respuesta = "p5_1" })Gradualmente(poco a poco)
                                                                            </label>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 6*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>6. Tiene antecedentes traumatológicos del hombro @tipo_hombro?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p6, "true", new { @mostrar_respuesta = "rpta_p6" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p6, "false", new { @ocultar_respuesta = "rpta_p6" }) No
                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p6">
                                                                        @Html.TextAreaFor(model => model.p6_1, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 7*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>7. Tiene antecedentes médicos de importancia?</cite>
                                                                    <div class="col-md-12">
                                                                        @Html.TextAreaFor(model => model.p7, new { @placeholder = "Especifique", @class = "form-control animate" })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Procedimientos Relacionados*@
                <div class="row">

                    <div class="col-md-12">
                        <div class=" ">
                            <div class="">


                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-medico" data-collapsed="1">
                                            <div class="panel-heading">
                                                <div class="panel-title">Procedimientos Relacionados </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">
                                                @*Pregunta 8*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>8. Le han operado el hombro  @tipo_hombro antes?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p8, "true", new { @mostrar_respuesta = "rpta_p8" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p8, "false", new { @ocultar_respuesta = "rpta_p8" }) No
                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p8">
                                                                        <div class="col-md-12">
                                                                            <cite>Cuántas veces?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p8_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <cite>La última aprox. hace cuanto?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p8_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                    <div class="col-sm-4 col-lg-4">
                                                                                        @Html.DropDownListFor(model => model.p8_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <cite>Cuál fue el resultado final?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p8_3, "1") Mejoró
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p8_3, "2") Quedó igual
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p8_3, "3") Empeoró
                                                                                    </label>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <cite>De que estructura?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-12">
                                                                                    @Html.TextAreaFor(model => model.p8_4, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 9*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>9. El hombro @tipo_hombro, ha sido infiltrado antes?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p9, "true", new { @mostrar_respuesta = "rpta_p9" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p9, "false", new { @ocultar_respuesta = "rpta_p9" }) No
                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p9">
                                                                        <div class="col-md-12">
                                                                            <cite>Cuántas veces?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p9_1, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <cite>La última aprox. hace cuanto?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-2 col-lg-2">
                                                                                        @Html.TextBoxFor(model => model.p9_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                    </div>
                                                                                    <div class="col-sm-4 col-lg-4">
                                                                                        @Html.DropDownListFor(model => model.p9_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <cite>Cuál fue el resultado final?</cite><span class="asterisco">(*)</span>
                                                                            <div class="col-md-12">
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p9_3, "1") Mejoró
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p9_3, "2") Quedó igual
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio">
                                                                                    <label>
                                                                                        @Html.RadioButtonFor(model => model.p9_3, "3") Empeoró
                                                                                    </label>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 10*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>10. Ha tenido examenes previos del hombro @tipo_hombro?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p10, "true", new { @mostrar_respuesta = "rpta_p10" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p10, "false", new { @ocultar_respuesta = "rpta_p10" }) No
                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p10">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12">
                                                                                <cite>El último donde?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-4 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p10_1, (SelectList)ViewBag.locales, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "rpta_p10_1", @mostrar_respuesta_value = "9" })
                                                                                        </div>
                                                                                        <div class="col-sm-12 col-md-12" id="rpta_p10_1">
                                                                                            <div class="row">
                                                                                                <div class="col-md-12">
                                                                                                    <cite>Compromiso del paciente:</cite><span class="asterisco">(*)</span>
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            @Html.RadioButtonFor(model => model.p10_11, "1") El paciente y/o acompañante <b>SE COMPROMETIO</b> a traer estudios previos
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            @Html.RadioButtonFor(model => model.p10_11, "2") El paciente y/o acompañante <b>TRATARÁ</b> de traer estudios previos
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            @Html.RadioButtonFor(model => model.p10_11, "3") <b>NO SE PUEDE</b> conseguir estudios previos
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>El último cuando?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">

                                                                                        <div class="col-sm-6 col-lg-2">
                                                                                            @Html.TextBoxFor(model => model.p10_21, new { @placeholder = "Cant.", @type = "number", @min = "0", @class = "form-control" })
                                                                                        </div>
                                                                                        <div class="col-sm-6 col-lg-4">
                                                                                            @Html.DropDownListFor(model => model.p10_22, (SelectList)ViewBag.tiempo, "- Seleccione -", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <cite>Porqué?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            @Html.TextAreaFor(model => model.p10_3, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*Pregunta 11*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>11. Practica algun deporte?</cite><span class="asterisco">(*)</span>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p11, "true", new { @mostrar_respuesta = "rpta_p11" }) Si
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        @Html.RadioButtonFor(model => model.p11, "false", new { @ocultar_respuesta = "rpta_p11" }) No
                                                                    </label>
                                                                    <div class="col-md-12" id="rpta_p11">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <cite>Deporte</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="col-sm-4 col-lg-4">

                                                                                        @Html.DropDownListFor(model => model.p11_1, (SelectList)ViewBag.deporte, "- Seleccione -", new { @class = "form-control", @mostrar_respuesta = "p11_11", @mostrar_respuesta_value = "6" })
                                                                                    </div>

                                                                                    <div class="col-sm-6 col-lg-6">
                                                                                        @Html.TextAreaFor(model => model.p11_11, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <cite>Con qué regularidad?</cite><span class="asterisco">(*)</span>
                                                                                <div class="col-md-12">
                                                                                    <div class="col-sm-4 col-lg-4">
                                                                                        @Html.DropDownListFor(model => model.p11_2, (SelectList)ViewBag.regularidad, "- Seleccione -", new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Preguntas a Resolver*@
                <div class="row">

                    <div class="col-md-12">

                        <div class=" ">
                            <div class="">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-medico" data-collapsed="1">
                                            <div class="panel-heading">
                                                <div class="panel-title">Preguntas a Resolver </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">
                                                @*Pregunta 12-A*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>12-A. Ingresar lo que dice la orden médica?</cite><span class="asterisco">(*)</span>

                                                                    <div class="col-md-12">
                                                                        @Html.TextAreaFor(model => model.p12A, new { @placeholder = "Ingrese lo que dice la orden médica", @class = "form-control animate validate" })
                                                                        @Html.CheckBoxFor(model => model.p12Acheck, new { @bloquear_respuesta = "p12A" }) Orden Ilegible
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>






                                                </div>
                                                @*Pregunta 12-B*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>12-B. Ingresar lo que comenta el paciente?</cite><span class="asterisco">(*)</span>

                                                                    <div class="col-md-12">
                                                                        @Html.TextAreaFor(model => model.p12B, new { @placeholder = "Ingrese lo que comenta el paciente", @class = "form-control animate validate" })
                                                                        @Html.CheckBoxFor(model => model.p12Bcheck, new { @bloquear_respuesta = "p12B" }) No precisa
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>






                                                </div>
                                                @*Pregunta 13*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>13. Luego de realizar esta historia clínica concluyo que este examen de resonancia busca resolver el o los siguientes problemas diagnosticados?</cite><span class="asterisco">(*)</span>

                                                                    <div class="col-md-12">
                                                                        @Html.TextAreaFor(model => model.p13, new { @placeholder = "Especifique", @class = "form-control animate validate" })
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>






                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                @*Indicaciones*@
                <div class="row">

                    <div class="col-md-12">

                        <div class=" ">
                            <div class="">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="panel panel-medico" data-collapsed="1">
                                            <div class="panel-heading">
                                                <div class="panel-title">Indicaciones </div>
                                                <div class="panel-options pull-right">
                                                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body chart-responsive">
                                                @*Pregunta 14*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>14. Administrar contraste :</cite><span class="asterisco">(*)</span>

                                                                    <div class="col-md-12">
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p14, "1", new { @ocultar_respuesta = "p14_1" }) Si
                                                                            </label>
                                                                        </div>
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p14, "2", new { @mostrar_respuesta = "p14_1" })No
                                                                            </label>


                                                                            @Html.DropDownListFor(model => model.p14_1, (SelectList)ViewBag.contraste, "- Seleccione -", new { @class = "form-control" })


                                                                        </div>
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p14, "3", new { @ocultar_respuesta = "p14_1" }) De acuerdo a hallazgos
                                                                            </label>
                                                                        </div>


                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <cite>15. Colocación de Reparo Anatómico :</cite><span class="asterisco">(*)</span><div class="col-md-12">
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p15, true) Si
                                                                            </label>
                                                                        </div>
                                                                        <div class="radio">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.p15, false)No
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                }

            </div>
        </div>
        <br />
        @Html.Partial("_DatosCalificacionLector", Model._encuesta)
    </div>
</div>
</div>





