@model Encuesta.ViewModels.Tecnologo.RealizarExamenViewModel

@{
    ViewBag.Title = "<i class='fa fa-fire '></i> Tecnólogo";
    ViewBag.Titlenot = "Tecnólogo";
    Layout = null;
}
<!-- DataTables JavaScript -->
<script src="~/js/jquery.autosize.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#msj").fadeOut()//ocultar el msj
        $('.animate').autosize();//autosizeTexbox
        $("#check_contraste").hide();//ocultar continuo
        /*VIP*/
        @if (Model.examen.ATENCION.CITA.citavip)
        {
            <text>
        $("#modal_paciente").append('<i class="fa fa-star fa-lg fa-spin" style="color: #F8DB07;"></i>');
        </text>
        }

        /*OCULTAR ANESTESIA CONTRASTE*/
        mostrarDiv();
        $("#isSedacion").change(mostrarDiv);
        $("#isContraste").change(VerificarContraste);
        $("#istecnicas").change(mostrarDiv);
        $("#isPostproceso").change(mostrarDiv);
        !$('#isContrasteContinuo').change(VerificarContraste);

        $('#table_estudios').dataTable(
            //{
            //"columnDefs": [
            //{ "targets": [2], "visible": false, "searchable": false },
            //{ "targets": [1], "searchable": false, }

            //]
            //}
        );

    });
    function VerificarContraste() {
        var cita = '@Model.examen.numerocita';
        if ($('#isContraste').is(':checked'))
            $.ajax({
                url: "@Url.Action("VerificarContraste", "RealizarExamen")",
                data: { ncita: cita },
                dataType: "json",
                type: "POST",
                error: function () {
                    mostrarmensaje(4, 'Ocurrio un problema y <b>NO</b> se enviaron los datos al sistema');
                },
                success: function (data) {
                    if (data.result) {
                        if ($('#div_exist').length == 0)
                            $("#divcontraste").append("<br/><b id='div_exist' class=' alert-info'>Ya se registro un contraste</b><br/> <b id='div_exist' class=' alert-info'>Seleccione si es continuo ,si no se VOLVERÁ A REGISTRAR</b>");
                        $("#check_contraste").show();
                    }
                    else {
                        $("#check_contraste").hide();
                    }

                }

            });
        mostrarDiv();
    }
    function mostrarDiv() {
        /*sedacion*/
        if ($('#isSedacion').is(':checked'))
            $("#div_sedacion").show();
        else
            $("#div_sedacion").hide();
        /*contraste and contraste_Continuo*/
        if ($('#isContraste').is(':checked'))
            $("#div_contraste_continuo").show();
        else
            $("#div_contraste_continuo").hide();
        /* contraste_Continuo*/
        if ($('#isContrasteContinuo').is(':checked'))
            $("#div_contraste").hide();
        else
            $("#div_contraste").show();
        //quitar el check si no usa contraste
        if (!$('#isContraste').is(':checked'))
            $('#isContrasteContinuo').prop("checked", "");
        /*tecnicas*/
        if ($('#istecnicas').is(':checked')) {
            $("#div_tecnicas").show();
            $('#table_estudios').focus();
        }
        else
            $("#div_tecnicas").hide();
        /*PostProceso*/
        if ($('#isPostproceso').is(':checked'))
            $("#postproceso").show();
        else
            $("#postproceso").hide();
    }

    function agregarTecnica(examen, tecnica, cita) {
        if (examen == '-1') {
            examen = '@Model.examen.codigo';
        }
        $.ajax({
            url: "@Url.Action("IngresarTecnica", "RealizarExamen")",
            data: { nexamen: examen, ncita: cita, nestudio: tecnica },
            dataType: "json",
            type: "POST",
            error: function () {
                mostrarmensaje(4, 'Ocurrio un problema y <b>NO</b> se enviaron los datos al sistema');
            },
            success: function (data) {
                if (data.result)
                    mostrarTecnica(examen);
            }
        });

    }

    function eliminarTecnica(tecnica, cita) {
        $.ajax({
            url: "@Url.Action("EliminarTecnica", "RealizarExamen")",
            data: { ncita: tecnica },
            dataType: "json",
            type: "POST",
            error: function () {
                mostrarmensaje(4, 'Ocurrio un problema y <b>NO</b> se enviaron los datos al sistema');
            },
            success: function (data) {
                if (data.result)
                    mostrarTecnica(@Model.examen.codigo);
            }
        });
    }

    function mostrarTecnica(_examen) {
        $("#partialListTecnica").load('@Url.Action("ListarTecnicas", "RealizarExamen")' + '?ncita=' + _examen)
    }


  
</script>
<script src="~/js/encuestas/encuestas_ini.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="">
                <h2 class="">Realizar Examen: </h2>
                
                <h2><b>@Model.num_examen - @Model.nom_paciente</b>  </h2>
            </div>
            <div class="chart-responsive">

                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-dark" data-collapsed="0">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Datos Examen</h3>
                                    <div class="panel-options pull-right">
                                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                @Html.Partial("_DatosExamen", Model.examen)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.Partial("_DatosPaciente", Model.paciente)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Partial("_DatosEncuesta", Model.encuesta)
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-info box-tools pull-right no-print" onclick="verHistorial(@Model.num_examen)">
                                                    <i class="fa fa-history fa-2x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="row" id="div_historial">
                    </div>
                    <div class="row">
                        <div>
                            @Html.HiddenFor(model => model.id_paciente)
                            @Html.HiddenFor(model => model.id_estudio)
                            @Html.HiddenFor(model => model.num_examen)
                            @Html.HiddenFor(model => model.id_equipo_rea)
                        </div>
                        <div class="col-md-12">
                            <div class="">

                                <h3 class="">
                                    Datos Adquisión
                                </h3>
                                <div class="">
                                    <div class="row">
                                        <div class="alert" id="msj">
                                        </div>
                                        @*Sedacion *@
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Anestesia</div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class=" form-group">
                                                        <label>Sedacion: </label>
                                                        @Html.CheckBoxFor(model => model.isSedacion)
                                                    </div>
                                                    <div class="form-group" id="div_sedacion">
                                                        <label>Anestesiologo: </label>
                                                        @Html.DropDownListFor(model => model.anestesiologa, (SelectList)ViewBag.anesteciologos, "- Seleccione el Anestesiologo -", new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        @*Contraste*@
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Contraste</div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group" id="divcontraste">
                                                        <label>Contraste: </label>
                                                        @Html.CheckBoxFor(model => model.isContraste, new { @disabled = "disabled" })
                                                    </div>
                                                    @if (Model.isContraste)
                                                    {
                                                        <div class="form-group" id="divcontraste">
                                                            <label>Continuo? </label>
                                                            @Html.CheckBoxFor(model => model.isContrasteContinuo)
                                                        </div>
                                                    }
                                                    @if (Model.estadoContraste == 1)
                                                    {
                                                        <div> <span class=" alert-success">La Enfermera Validó el contraste</span></div>
                                                    }
                                                    @if (Model.estadoContraste == 0)
                                                    {
                                                        <div> <span class=" alert-danger">La Enfermera NO Validó el contraste</span></div>
                                                    }
                                                    else
                                                    {

                                                    }
                                                    <div style="display:none;">
                                                        <div id="div_contraste_continuo">
                                                            <div id="check_contraste">

                                                            </div>
                                                            <div id="div_contraste">
                                                                <div class="form-group">
                                                                    <label>Enfermera: </label>
                                                                    @Html.DropDownListFor(model => model.enfermera, (SelectList)ViewBag.enfermeras, "- Seleccione el Enfermera -", new { @class = "form-control" })

                                                                </div>
                                                                <div class="form-group" id="div_insumo_contraste">
                                                                    <label>Insumo: </label>
                                                                    @Html.DropDownListFor(model => model.contraste, (SelectList)ViewBag.insumoContraste, "- Seleccione el Contraste -", new { @class = "form-control" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @*Tecnicas*@
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">Técnicas</div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label>Cant. Placas: </label>
                                                        @Html.TextBoxFor(model => model.placas, new { @type = "number", @class = "form-control", @style = "width: 15%;" })
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Tecnicas: </label>
                                                        @Html.CheckBoxFor(model => model.istecnicas)
                                                    </div>

                                                    <div class="form-group" id="div_tecnicas">
                                                        <div class="col-md-6">
                                                            <table class="table table-striped table-bordered table-hover" id="table_estudios">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Técnica</th>
                                                                        <th style="text-align:center;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in (List<Encuesta.Models.ESTUDIO>)ViewBag.tecnicas)
                                                                    {
                                                                        <tr>
                                                                            <td style="padding: 1px!important">@Html.DisplayFor(modelItem => item.nombreestudio)</td>
                                                                            <td class="table_id" style="padding: 1px!important;text-align:center;">
                                                                                <button type="button" class="btn btn-info btn-circle btn-xs" onclick="agregarTecnica('@Model.num_examen','@item.codigoestudio','@Model.examen.numerocita')"><i class="fa fa-check"></i></button>
                                                                            </td>

                                                                            
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                           
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="button" class="btn btn-outline btn-primary " onclick="mostrarTecnica('@Model.examen.codigo')"><i class="fa fa-binoculars"></i>&nbsp;&nbsp; Mostrar Técnicas Ingresadas</button>
                                                            <div id="partialListTecnica">
                                                                @Html.Partial("_ListExamenCita", Model.tecnica)
                                                            </div>
                                                           
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    @if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday && Model.examen.codigoestudio.Substring(0, 3) == "101")
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title"> División Diagnostica</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group" id="div_grupo">
                                                            <label>Seleccione la división diagnóstica de destino: </label>
                                                            <div class="form-group" style="margin-left: 30px;">
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "1") Oncodiagnóstica
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "2") Neurodiagnóstica
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "3") Musculo Esquelético
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "4") Cardiovascular
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "5") Abdomen
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "6") Cuerpo
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "7") Protocolo
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "8") Obstétrica / Fetal
                                                                    </label>
                                                                </div>
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if(Model.examen.codigoestudio.Substring(0, 3) != "101")
                                    {
                                      

                                        <div class="row">                                            
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title"> División Diagnostica</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group" id="div_grupo">
                                                            <label>Seleccione la división diagnóstica de destino: </label>
                                                            <div class="form-group" style="margin-left: 30px;">
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "1") Oncodiagnóstica
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "2") Neurodiagnóstica
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "3") Musculo Esquelético
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "4") Cardiovascular
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        @Html.RadioButtonFor(b => b.grupomedico, "5") Cuerpo
                                                                    </label>
                                                                </div>
                                                               
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(b => b.grupomedico, "7") Protocolo
                                                                        </label>
                                                                    </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title"> Datos Adicionales</div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label>PostProceso: </label>
                                                        @Html.CheckBoxFor(model => model.isPostproceso)
                                                        @Html.TextAreaFor(model => model.postproceso, new { @class = "form-control animate",@placeholder="Ingrese las técnicas que aplicara el tecnólogo reconstructor." })                                                    </div>
                                                    <div class="form-group">
                                                        <label>Información Adicional: </label>
                                                        @Html.TextAreaFor(model => model.inf_adicional, new { @class = "form-control animate",@placeholder="Ingrese sus comentarios adicioneles." })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function validar() {

                            var msj = "";

                            if ($('#isSedacion').is(':checked'))
                                if ($('#anestesiologa').val() == "")
                                    msj += "- Seleccione el Anestesiologo"

                            //if ($("input:radio[name=grupomedico]:checked").val() == undefined) {
                            //    _IsValid = false;
                            //    msj += "Pregunta : Seleccionar Grupo Médico\n";
                            //}

                            if ($('#isContraste').is(':checked')) {
                                /*if ($('#isContraste').is(':checked') && !$('#isContrasteContinuo').is(':checked')) {
                                    if ($('#enfermera').val() == "")
                                        msj += "\n- Seleccione la Enfermera"
                                    if ($('#contraste').val() == "")
                                        msj += "\n- Seleccione el Insumo"

                                }*/


                                $.ajax({
                                    async:false,
                                    cache:false,
                                    url: "@Url.Action("VerificarValidacionContraste", "RealizarExamen")",
                                    data: { examen: @Model.num_examen },
                                    dataType: "json",
                                    type: "POST",
                                    error: function () {
                                        mostrarmensaje(4, 'Ocurrio un problema y <b>NO</b> se enviaron los datos al sistema');
                                    },
                                    success: function (data) {
                                        if(data.result=="0")
                                            msj='Falta la Validación de la enfermera';
                                    }
                                });
                            }
                            if (msj == ""){
                                hubNotification.server.callPaciente2();
                                return true;
                            }
                            else {
                                mostrarmensaje(4,msj);
                                return false;
                            }
                        }
                    </script>
                    <p style="text-align: center;">
                        
                        <button type="button" class="btn btn-default" onclick="cargarTabla()" data-dismiss="modal">Regresar a la Lista</button>
                        <input type="submit" class="btn btn-success" onclick="return validar()" value="Registrar" />
                        @*<a href='@Url.Action("ListaEspera")' class="btn btn-primary">Regresar a la Lista</a>*@
                    </p>
                }
            </div>
        </div>
    </div>
</div>
