@model IEnumerable<Encuesta.ViewModels.Tecnologo.PostProcesoViewModel>

@{
    ViewBag.Title = "<i class='fa fa-check-square-o '></i> Post - Proceso";
    ViewBag.Titlenot = "Post - Proceso";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- DataTables JavaScript -->

<script src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/js/getUrl.js"></script>

<script src="~/js/jquery-ui.min.js"></script>
<script>
    var table;
    var myDate = new Date();

    $(document).ready(function () {
        //activacion del boton en el menu
        $(".sidebar > .sidebar-menu > li").removeClass("active");
        $(".sidebar > .sidebar-menu > li.p8").addClass("active");


        $("#msj").fadeOut()//ocultar el msj
        table = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("ListaAsync", "PostProceso")",
            //"bProcessing": true,
            "iDisplayLength": 20,
            "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "All"]],
            "aoColumns": [
                             { "sName": "N Examen" },//0
                             { "sName": "Paciente" },//1
                             { "sName": "HAdmin." },//2
                             { "sName": "Min." },//3
                             { "sName": "Modalidad" },//4
                             { "sName": "Estudio" },//5
                             { "sName": "Equipo" },//6
                             {
                                 "sName": "Acciones",
                                 "mRender": function (data, type, full) {
                                     return "";
                                 }
                             },//7
                             { "sName": "isvip", "bVisible": false },//8
                             { "sName": "sedacion", "bVisible": false },//9
            ],
            "createdRow": function (row, aData, dataIndex) {
                //celdad a ocultar
                /* $('td:eq(5)', row).addClass('ocultar1');
                 $('td:eq(5)', row).css('d', 'd');
                 */


                // si es una validacion pendiente
                var fec_admi = new Date((aData[2]).substring(6, 10), parseInt((aData[2]).substring(3, 5)) - 1, (aData[2]).substring(0, 2), 0, 0, 0);

                var fec_now = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), 0, 0, 0);
                if (fec_admi < fec_now) {
                    $(row).addClass('warning');

                }
                else {
                    $('td:eq(2)', row).html((aData[2]).substring(11));
                }
                // si es Sedacion
                if (aData[9] == "True") {
                    $(row).addClass('danger alert-danger');
                }
                // si es VIP
                if (aData[8] == "True") {
                    $('td:eq(1)', row).html(aData[1] + ' <i class="fa fa-star fa-lg fa-spin" style="color: #F8DB07;"></i>');
                }

                // minutos trascurridos
                if (parseInt(aData[3]) > 40) {
                    $('td:eq(3)', row).addClass('tiempo_excedente');
                }
                else if (parseInt(aData[4]) > 20) {
                    $('td:eq(3)', row).addClass('tiempo_intermedio');
                }
                else {
                    $('td:eq(3)', row).addClass('tiempo_correcto');
                }

                //agregar botn para realizar
                $('td:eq(7)', row).html('<input type="button" onclick="RealizarExamen(' + aData[0] + ')"  class="btn btn-success" value="Realizar"/>');

                //agregarboton de informacion Paciente
                $('td:eq(1)', row).append('<br /> <button type="button" onclick="cargarDatosExamen(' + aData[0] + ',1)"  class="btn btn-outline btn-info btn-xs" ><i class="fa fa-info-circle"></i> Info</button>');

                //agregar botn para Cancelar
                $('td:eq(0)', row).append('<br /><button type="button" onclick="ModalCancelarExamen(' + aData[0] + ')"  class="btn btn-outline  btn-danger btn-xs"><i class="fa fa-times"></i></button>');

                //agregarboton de informacion Encuesta
                $('td:eq(5)', row).append('<br /> <input type="button" onclick="verEncuesta(' + aData[0] + ')"  class="btn btn-outline btn-default btn-xs" value="Encuesta"/>');
            }
        });

        $("#div_time").html('<p class="pull-right">Last Refresh : <b>' + myDate.toLocaleTimeString() + '</b></p>');
        $('#myDataTable').css("width", "100%!important");

        $("#lstmodalidad").change(function () {
            var texto = $("#lstmodalidad option:selected").html();
            if ($("#lstmodalidad").val() != '') {
                $('#myDataTable').dataTable().fnFilter(texto);
            }
            else {
                $('#myDataTable').dataTable().fnFilter('');
            }
        });

        //setInterval(function () {
        //    table.ajax.reload();
        //    $('#myDataTable').width("100%");
        //    var _date = new Date();
        //    $("#div_time").html('<p class="pull-right">Last Refresh : <b>' + _date.toLocaleTimeString() + '</b></p>');
        //}, 30000);

    });

    function RealizarExamen(examen) {
        window.location.href = "@Url.Action("RealizarExamen", "PostProceso")" + '?examen=' + examen;
    }

    function verEncuesta(examen) {
        var _equipo = $("#lstEquipo").val();
        if (_equipo != '') {
            window.open('/LectorEncuesta/LectorEncuesta?examen=' + examen+'&isVisible=false', '_blank');
        } else {

            mostrarmensaje(4, 'Seleccione el <b>Equipo</b> para enviar los datos ');
        }
    }
    function cargarDatosExamen(examen, tipo) {

        var _equipo = $("#lstEquipo").val();
        if (_equipo != '') {
            $.ajax({
                url: "@Url.Action("DatosExamen", "PostProceso")",
                data: { examen: examen, tipo: tipo },
                dataType: "json",
                type: "POST",
                error: function () {
                    mostrarmensaje(4, 'Ocurrio un problema y <b>no</b> se enviaron los datos al sistema');
                },
                success: function (data) {
                    if (tipo == 1) {//lectura
                        $('#myModal .modal-body').html(data.mensaje);
                        $('#myModal').modal('toggle');
                    }
                    if (tipo == 2) {//escritura
                        $('#modal_Modalidad .modal-body').html(data.mensaje);
                        $('#modal_Modalidad').modal('toggle');
                    }

                }
            });
        }
        else {

            mostrarmensaje(4, 'Seleccione el <b>Equipo</b> para enviar los datos ');
        }
    }

    function ModalCancelarExamen(examen) {
        $('#inputhidden_id').val(examen);
        $('#modal_Cancelar').modal('toggle');
    }

   

</script>

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Lista de Post - Proceso </h2>
            </div>
            <div class="box-body chart-responsive">

                <p>
                    <button class="btn btn-primary no-print" data-toggle="modal" data-target="#modal_Registrar"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Registrar PostProceso</button>
                </p>
                <div class="pull-right">
                    <button class="btn btn-primary no-print" data-toggle="modal" data-target="#modalExamen">
                        <b><i class="fa fa-search fa-2x"></i>&nbsp;&nbsp;Examen</b>
                    </button>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Lista de Examenes 
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="msj">
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Modalidad</label>
                                <select id="lstmodalidad" class="form-control">
                                    <option value="">- Todos -</option>
                                    <option value="RM">RM </option>
                                    <option value="TEM">TEM </option>
                                    <option value="Otros">Otros </option>
                                </select>
                            </div>
                            <div id="div_time" class="col-lg-8">
                            </div>

                        </div>
                        <br />
                        <div class="table-responsive">
                            <table id="myDataTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N° Examen</th>
                                        <th>Paciente</th>
                                        <th>H. Soli.</th>
                                        <th>Min. </th>
                                        <th>Modalidad</th>
                                        <th>Estudio</th>
                                        <th>Equipo</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Datos -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Datos de Examen</h4>
            </div>
            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    function EditExamen() {
        var examen = $("#modal_nexamen").val();
        if ($('#alert_2').length != 0)
            $('#alert_2').remove();
        if (examen == "")
            $("#2").append("<div id='alert_2' class='alert alert-danger'>Ingrese un N° Examen valido</div>")
        else {
            $('#modalExamen').modal('toggle');
            window.location.href = ('@Url.Action("UpdatePostProceso", "PostProceso")?examen=' + examen);
        }
    }
</script>
<!-- Modal Buscar Examen-->
<div class="modal fade" id="modalExamen" tabindex="-1" role="dialog" aria-labelledby="modalExamenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalExamenLabel">Ingrese Número de Examen</h4>
            </div>
            <div class="modal-body" id="2">
                <div class="input-group custom-search-form">
                    <input type="number" class="form-control" id="modal_nexamen" placeholder="N° Examen...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="EditExamen();">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtmotivo").hide();

        $("#ddlMotivos").change(function () {
            if ($("#ddlMotivos").val() != "99")
                $("#txtmotivo").hide();
            else $("#txtmotivo").show();
        });
    });

    function CancelarExamen(examen) {
        var motivo = $("#ddlMotivos option:selected").text();
        var detalle = $("#txtmotivo").val();
        var pasa = true;
        if ($("#ddlMotivos").val() == "0") {
            pasa = false;
            mostrarmensaje(4, "Debe seleccionar un  motivo");
        }
        if ($("#ddlMotivos").val() == "99" && detalle == "") {
            pasa = false;
            mostrarmensaje(4, "Debe ingresar un  motivo");
        }
        if ($("#ddlMotivos").val() == "99" && detalle != "") {
            motivo = detalle;
        }
        if (pasa) {
            $.ajax({
                url: "@Url.Action("CancelarExamen", "PostProceso")",
                data: { examen: examen, motivo: motivo },
                dataType: "json",
                type: "POST",
                error: function () {
                    mostrarmensaje(4, 'Ocurrio un problema y <b>no</b> se enviaron los datos al sistema');
                },
                success: function (data) {
                    mostrarmensaje(1, 'Se cancelo el estudio');
                    table.ajax.reload();
                }
            });
        }

    }
</script>
<!-- Modal Cancelacion -->
<div class="modal fade" id="modal_Cancelar" tabindex="-1" role="dialog" aria-labelledby="modal_CancelarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_ModalidadLabel">Confirmar Cancelación de Examen</h4>
            </div>
            <div class="modal-body" id="_2">
                <input type="hidden" id="inputhidden_id" />
                <div class='form-group'>
                    <label>Motivo Cancelacion: </label>
                    <select id="ddlMotivos" class="form-control">
                        <option value="0">- seleccione motivo -</option>
                        <option value="1">Solicitud erronea</option>
                        <option value="2">Falta información del examen</option>
                        <option value="99">Otros</option>
                    </select>

                    <textarea class="form-control animate" id="txtmotivo" placeholder="Ingrese el motivo de cancelación"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" onclick="CancelarExamen($('#inputhidden_id').val())" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    function registraPostproceso() {
        var examen = $("#modal_nexamen_register").val();
        var motivo = $("#txtdescripcion").val();
        var pasa = true;
        if (examen > 0 && motivo != "") {
            $.ajax({
                url: "@Url.Action("RegistrarPostproceso", "PostProceso")",
                data: { examen: examen, descrip: motivo },
                dataType: "json",
                type: "POST",
                error: function () {
                    mostrarmensaje(4, 'Ocurrio un problema y <b>no</b> se enviaron los datos al sistema');
                },
                success: function (data) {
                    if (data.result) {
                        mostrarmensaje(1, 'Se registro con exito el PostProceso');
                        table.ajax.reload();
                        $('#modal_Registrar').modal('toggle');
                    }
                    else
                        mostrarmensaje(3, data.mensaje);
                }
            });
        }

    }
</script>
<!-- Modal Registrar PostProceso -->
<div class="modal fade" id="modal_Registrar" tabindex="-1" role="dialog" aria-labelledby="modal_RegistrarLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal_RegistrarLabel">Registrar PostProceso</h4>
            </div>
            <div class="modal-body">
                <div class='form-group'>
                    <label>N° Examen: </label>
                    <input type="number" class="form-control" id="modal_nexamen_register" placeholder="N° Examen...">
                </div>
                <div class='form-group'>
                    <label>Motivo PostProceso: </label>
                    <textarea class="form-control animate" id="txtdescripcion" placeholder="Ingrese el motivo de registro"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="registraPostproceso()">Registrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
